[2015-11-13 05:11] danrademacher commented on #527
Select Activity from home page, end up here

[2015-11-13 05:12] sconnelley commented on #527
Oh so select any activity will load this page with that activity selected?

[2015-11-13 05:12] danrademacher commented on #527
Bingo

[2015-11-13 17:20] sconnelley commented on #529
b552ce852c80d1d131aea883f5bf9e97a6c5896f

[2015-11-13 17:20] #529 closed, assigned to nobody

[2015-11-13 18:57] nicolettehayes opened #530 "Polish for breakpoints/behavior on intermediate screen sizes"
Think a little harder about what happens when screen is more rectangular than square (taking into consideration maximizing map size). Then reassign to Sean.

[2015-11-13 19:03] nicolettehayes opened #531 "Park page instagram icon"
Currently:
<img width="638" alt="screen shot 2015-11-13 at 10 59 19 am" src="https://cloud.githubusercontent.com/assets/12550451/11154717/eb9a5a4a-89f5-11e5-95b1-98b2e706108f.png">

Preferred:
![screen shot 2015-11-13 at 11 00 19 am](https://cloud.githubusercontent.com/assets/12550451/11154721/f19d4772-89f5-11e5-8e2e-96006df0bd2a.png)

Asset for this is here: https://drive.google.com/a/stamen.com/

[2015-11-13 19:07] nicolettehayes opened #532 "Park Page - markers on the map?"
Right now a handful of photo locations appear:
<img width="269" alt="screen shot 2015-11-13 at 11 05 17 am" src="https://cloud.githubusercontent.com/assets/12550451/11154808/7b83e928-89f6-11e5-8fa2-8a2038a60fc7.png">

I'm curious what the number of dots is based on, and also if the dots will ultimately be clickable.

If they are not destined for interactivity, I would suggest getting rid of all th

[2015-11-13 19:08] sconnelley commented on #532
the black dots are the photos.  will remove

[2015-11-13 19:15] nicolettehayes opened #533 "Smooth Scroll"
The site grid was designed with a smooth scroll in mind for the homepage, and I think implementing that now is crucial to any responsive work to be carried out going forward. Each section of the homepage (top, explore and discover) should be sized to fill the browser screen at whatever size it is, and scrolling should skip you directly to the next section.

example: http://88and90lex.com/home or e

[2015-11-13 19:19] nicolettehayes commented on #523
At the moment the site background color is white instead of #eeeff3, which makes all of these changes unnecessary! Should we backlog it for when/if the background color is changed in the next round?

[2015-11-13 19:21] nicolettehayes opened #534 "Link out to Instagram"
I don't think this was ever explicitly mentioned, but we have to have some way of linking out to Instagram from these photos. I suggest having it be only when you click on a photo in the preview pane on a parks page. Also, let's have it open in a new tab:
<img width="713" alt="screen shot 2015-11-13 at 11 20 29 am" src="https://cloud.githubusercontent.com/assets/12550451/11155131/962caaec-89f8-11e

[2015-11-13 19:23] nicolettehayes opened #535 "clicking on "Caliparks" logo should bring you to the top of the homepage"
If the user is in "Explore" or "Discover" or an an activity page or a park page, clicking "Caliparks" should bring them back to the top of the homepage.

Clicking this:
<img width="366" alt="screen shot 2015-11-13 at 11 21 42 am" src="https://cloud.githubusercontent.com/assets/12550451/11155193/f0a54128-89f8-11e5-9d5f-11b8ac1cccee.png">
Brings you here:
<img width="1422" alt="screen shot 2015-11-1

[2015-11-13 19:26] nicolettehayes opened #536 "clicking "back to activities" brings you to the wrong part of the page"
At the moment, clicking "back to activities" brings me to the top of the homepage instead of back to the Discover section (even though the hash implies that it is behaving correctly).

<img width="683" alt="screen shot 2015-11-13 at 11 24 18 am" src="https://cloud.githubusercontent.com/assets/12550451/11155245/3e92a362-89f9-11e5-80f9-3423728d8f8d.png">

[2015-11-13 19:31] nicolettehayes opened #537 "Default zoom of map on parks page"
Is there a way to have the default zoom level be to the bounds of the park? Not a high priority, but it could improve the map experience.

For example, landing on Eldorado currently looks like this:
<img width="1424" alt="screen shot 2015-11-13 at 11 30 22 am" src="https://cloud.githubusercontent.com/assets/12550451/11155394/11e5dedc-89fa-11e5-9889-1766912033f8.png">

But it could look like this:

[2015-11-13 19:35] nicolettehayes opened #538 "Nix the locator map!"
I don't think we need it! Just zoom out! Leave more viewing space for the important stuff!

So keep it like this:
<img width="1423" alt="screen shot 2015-11-13 at 11 30 33 am" src="https://cloud.githubusercontent.com/assets/12550451/11155467/895ad648-89fa-11e5-88b8-4e5534095574.png">

Instead of adding this:
![screen shot 2015-11-13 at 11 34 02 am](https://cloud.githubusercontent.com/assets/125504

[2015-11-13 19:44] sconnelley commented on #538
So it's done then? @nicolettehayes

[2015-11-13 20:34] sethfitz commented on #523
I was still planning on making these changes so we can see how they do (even if the output is just screenshots and not a deployed map). (The current changes are primarily to support the existing site.)

[2015-11-13 20:38] nicolettehayes opened #539 "Activity Map is pretty blobby"
When a common activity is selected (most of them are pretty common), it shows up like a big blob:

Basketball:
<img width="619" alt="screen shot 2015-11-13 at 12 34 19 pm" src="https://cloud.githubusercontent.com/assets/12550451/11156803/e5488d30-8a02-11e5-82b7-85ed2c0df564.png">

This could probably be alleviated somewhat by changing the circles to have a 1 px white outline, but I would also love

[2015-11-13 20:42] sconnelley commented on #533
@nicolettehayes what do I do with the "footer"?
Is it fixed to the bottom like your first example above or should I add it to bottom of the  discover page?

[2015-11-13 21:09] nicolettehayes commented on #538
Yes! Unless you feel strongly otherwise, I'd say done.

[2015-11-13 21:15] nicolettehayes commented on #533
Add it to the bottom of the discover page. I always imagined it as it's own scroll location (as in, I don't see it when I arrive at discover, but scrolling down causes it to be revealed at the bottom of discover), but if that is overly complicated it should just be added to discover.

[2015-11-13 21:23] nicolettehayes opened #540 "odd things happening to some park pages"
This started happening to various pages after I clicked back and forth between the homepage and wander about 5 times:

<img width="1435" alt="screen shot 2015-11-13 at 11 28 15 am" src="https://cloud.githubusercontent.com/assets/12550451/11157875/032447d0-8a09-11e5-9adc-e2906f0e1e77.png">

If this was just a fluke, ignore and close.

[2015-11-13 21:25] nicolettehayes opened #541 "Remove the parks from "wander" that can't be reached in any other way"
This is cute, but poses a scope problem: currently we have NO way to navigate to a park that doesn't have activities data EXCEPT by randomly "wander"ing there. For this round (while we don't have a park search) I would suggest excluding parks without activities data from wander so that we don't point out this shortcoming.
<img width="1424" alt="screen shot 2015-11-13 at 11 27 22 am" src="https://c

[2015-11-13 21:51] sconnelley commented on #538
nope not a fan of navigators

[2015-11-13 21:51] #538 closed, assigned to sconnelley

[2015-11-13 22:13] nicolettehayes commented on #467
as the map exists currently, I don't think a legend is necessary. If we include an expanded map in the next release, we should revisit this.

[2015-11-13 22:23] danrademacher commented on #467
Agreed. I was supposed to close this out!

[2015-11-13 22:23] #467 closed, assigned to nobody

[2015-11-14 02:20] sconnelley commented on #540
@mojodna are we only showing parks with with `cpad_superunits.access_typ = 'Open Access'`?
I need to adjust all my queries accordingly.

[2015-11-16 03:48] #540 closed, assigned to sconnelley

[2015-11-16 19:26] sethfitz commented on #540
@sconnelley yes, and I see you've done that. thanks!

[2015-11-18 22:53] nicolettehayes commented on #530
I made a new illustrator document with macbook dimensions, mobile dimensions, and many odd shapes in between: https://drive.google.com/a/stamen.com/file/d/0B36c8E17SDHGMFNWYU83RGxQdTg/view?usp=sharing

The purpose is to make @sconnelley 's job _easier_ so if anything here is actually harder or breaks other progress that you've already made (or just plain doesn't seem right), please disregard.

Als

[2015-11-30 15:32] #532 closed, assigned to sconnelley

[2015-11-30 15:33] sconnelley commented on #509
FAQ copy can be updated here https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/constants/faq.js

[2015-11-30 15:33] #509 closed, assigned to sconnelley

[2015-11-30 15:33] #502 closed, assigned to sconnelley

[2015-11-30 15:34] #526 closed, assigned to sconnelley

[2015-11-30 15:34] #528 closed, assigned to sconnelley

[2015-11-30 15:34] #533 closed, assigned to sconnelley

[2015-11-30 22:10] nicolettehayes opened #542 "Home Page visual refinements"
Slider images can't get big enough for tall screens because of the image sizes I provided. So let's just make sure the menu items are vertically centered within their white space and leave it at that. (Also keep "Caliparks" logo vertically centered on image).

![screen shot 2015-11-30 at 2 09 02 pm](https://cloud.githubusercontent.com/assets/12550451/11486133/eca1b270-976b-11e5-8060-2d360c85afc9.p

[2015-11-30 22:16] nicolettehayes opened #543 "Homepage breaks when scrollbars are turned on"
When a machine has scrollbars turned on, a number of things break on the homepage:

![screen shot 2015-12-04 at 4 46 27 pm](https://cloud.githubusercontent.com/assets/12550451/11604842/b1e958fc-9aa6-11e5-9e03-5baf65ab5607.png)
![screen shot 2015-12-04 at 4 46 38 pm](https://cloud.githubusercontent.com/assets/12550451/11604841/b1e6ca38-9aa6-11e5-873d-d94dc5ae456b.png)

HOME

1-The down arrow isn't

[2015-11-30 22:32] nicolettehayes opened #544 "map marker interaction"
Clicking on a map marker should select that park instead of linking out to the park page.

![img_4148](https://cloud.githubusercontent.com/assets/12550451/11486368/9ce47e82-976d-11e5-84d1-949b30783cfe.JPG)

Only clicking on the name in the callout should link to the park:
![screen shot 2015-11-30 at 2 23 54 pm](https://cloud.githubusercontent.com/assets/12550451/11486439/06e6c7cc-976e-11e5-8582-32

[2015-11-30 22:33] nicolettehayes commented on #536
looks like this is resolved!

[2015-11-30 22:37] nicolettehayes opened #545 "Discover section needs sorting out"
Looks like it got a little wonky (left aligned should be right, need access to all activities, should have "more >" option). Also needs the arrow visible at base of page.

![screen shot 2015-11-30 at 2 34 08 pm](https://cloud.githubusercontent.com/assets/12550451/11486722/b21e1702-976f-11e5-9918-d86b902779a8.png)

[2015-11-30 22:45] nicolettehayes opened #546 "Footer function"
![screen shot 2015-11-30 at 2 37 54 pm](https://cloud.githubusercontent.com/assets/12550451/11486769/0cff0758-9770-11e5-8b37-5becaf86ce32.png)

I assume the sponsor logos should link out to the following locations:
www.stamen.com
www.greeninfo.org
www.parksforward.com
www.resourceslegacyfund.org

Clicking "feedback" should trigger a pop-up window:
![screen shot 2015-11-30 at 4 19 29 pm](https://cl

[2015-11-30 22:49] nicolettehayes commented on #539
This looks great. I would close this once the map markers become interactive (select park without linking out like in issue #544 )

![screen shot 2015-11-30 at 2 47 48 pm](https://cloud.githubusercontent.com/assets/12550451/11487027/7b4131a4-9771-11e5-99b7-29968a61cd69.png)

[2015-11-30 22:52] nicolettehayes commented on #535
the URL behaves correctly, but nothing happens on the explore and discover sections. Park page works.

[2015-11-30 22:56] nicolettehayes commented on #537
Currently the maps are also loading off-center:
![screen shot 2015-11-30 at 2 54 58 pm](https://cloud.githubusercontent.com/assets/12550451/11487236/84981622-9772-11e5-99d1-bec4a53bd3bd.png)

[2015-11-30 23:04] nicolettehayes opened #547 "Find a way to highlight trails better on Parks page"
This is a question for @mojodna and @sconnelley :

What do you think about zooming in to the trail level on initial load for parks that have trails data?

So, for example, with no data it would zoom approximately to the park extent:

![screen shot 2015-11-30 at 3 00 14 pm](https://cloud.githubusercontent.com/assets/12550451/11487322/1b1e91b6-9773-11e5-89a9-9b2cd71bfbe8.png)

But on parks with trai

[2015-12-01 00:16] nicolettehayes opened #548 "Park Page links"
![screen shot 2015-11-30 at 3 59 27 pm](https://cloud.githubusercontent.com/assets/12550451/11488448/67fac5ba-977b-11e5-8615-54bf0d0e595a.png)

"Camp here" links to Hipcamp while it should link elsewhere ( #521 ). And the Facebook and Twitter prompts don't include the park name like they did in the previous build.

Twitter, previously:
![screen shot 2015-11-30 at 4 13 21 pm](https://cloud.githubus

[2015-12-01 00:24] nicolettehayes commented on #548
Also, can we make linking out to the park page/directions or camping page open a new tab/window?

[2015-12-01 00:38] nicolettehayes opened #549 "Improve highlight state for selected photo on Park Page"
Currently the photo is indicated with a white border:
![screen shot 2015-11-30 at 4 30 15 pm](https://cloud.githubusercontent.com/assets/12550451/11488952/b71b9332-977f-11e5-8dcd-d2da57088f6f.png)

But with the popularity of non-square formats, this selection method gets confusing:
![screen shot 2015-11-30 at 4 31 42 pm](https://cloud.githubusercontent.com/assets/12550451/11488975/e987a608-977f-11

[2015-12-01 01:28] nicolettehayes commented on #547
relates to #537

[2015-12-01 19:17] nicolettehayes opened #550 "Photo continuity"
Not sure how to address this, but I imagine it has to do with the harvesting schedule: When I see a photo on the homepage for Yosemite, clicking it brings me to the Yosemite Park page where that specific photo is nowhere to be found. Why is this? Can it be fixed? At the moment the experience feels a little ungrounded. If we can't make it _feel_ like the photos are chronological, then adding timest

[2015-12-01 20:56] sethfitz commented on #521
Re-imported.

[2015-12-01 20:56] #521 closed, assigned to nobody

[2015-12-03 19:33] nicolettehayes opened #551 "Add "get involved with this park" to certain parks."
I'm assigning this to Seth, but ultimately it's for Sean too.

Please add the "Get involved with this park" link to all the Sonoma County Regional Parks and have it link to this URL: http://parks.sonomacounty.ca.gov/Support_Parks.aspx

![caliparks-1105_park-page](https://cloud.githubusercontent.com/assets/12550451/11571500/90d82bd4-99b1-11e5-982e-f132361e2099.png)

[2015-12-03 20:47] danrademacher commented on #551
Hello! Wasn't this done (at least in part) for #520?

[2015-12-03 22:20] nicolettehayes commented on #551
Hello! Yes, that's just the issue I was looking for! However, I'm not convinced it's been implemented for the Sonoma County Regional Parks?

For example, no "get involved" link appears here yet:
![screen shot 2015-12-03 at 2 18 09 pm](https://cloud.githubusercontent.com/assets/12550451/11576020/fb0301de-99c8-11e5-9de2-fe2a623db6a0.png)

[2015-12-04 20:04] #496 closed, assigned to sconnelley

[2015-12-04 22:34] nicolettehayes commented on #546
When I have scrollbars turned on the scroll arrow is missing, and there is a white stripe between the light and dark gray bits (see photo above).

[2015-12-05 00:26] nicolettehayes commented on #543
This is because I had scrollbars turned on. Being handled in #543, so i'm closing this.

[2015-12-05 00:27] nicolettehayes commented on #545
This is because I had scrollbars turned on. Being handled in #543, so i'm closing this.

[2015-12-05 00:27] #545 closed, assigned to sconnelley

[2015-12-05 00:35] nicolettehayes opened #552 "Site broken in Safari"
Layout is shot, and so is most of the interactivity (links, buttons, scroll, selection, etc.)

<img width="1437" alt="screen shot 2015-12-04 at 4 29 40 pm" src="https://cloud.githubusercontent.com/assets/12550451/11604675/88082420-9aa4-11e5-86bd-967dcfc6622a.png">
<img width="1440" alt="screen shot 2015-12-04 at 4 33 24 pm" src="https://cloud.githubusercontent.com/assets/12550451/11604712/c9dc7342

[2015-12-05 00:53] nicolettehayes opened #553 "Add park marker to Explore map for parks with no photos"
Some regional parks don't appear on the map. Is this because they don't have activities data? Is there anyway of including them on the maps even if they aren't a part of "wander"?

Google shows several regional parks in this region:
<img width="874" alt="screen shot 2015-12-04 at 1 58 52 pm" src="https://cloud.githubusercontent.com/assets/12550451/11604854/012c3894-9aa7-11e5-9adc-53ea29587a47.png"

[2015-12-05 00:55] nicolettehayes opened #554 "Header doesn't appear on homepage when shortcuts to "discover" and "explore" are used"
Clicking on "Explore" or "Discover" on the homepage takes you to the correct part of the page, but the Caliparks header doesn't appear.

this
![screen shot 2015-12-04 at 4 57 56 pm](https://cloud.githubusercontent.com/assets/12550451/11604917/454414ec-9aa8-11e5-9da7-8248bc187662.png)
versus this
![screen shot 2015-12-04 at 4 58 14 pm](https://cloud.githubusercontent.com/assets/12550451/11604918/49

[2015-12-05 01:03] nicolettehayes opened #555 "Explore map isn't updating"
When I change the selection on the dropdown, the data no longer changes:

![screen shot 2015-12-04 at 5 00 44 pm](https://cloud.githubusercontent.com/assets/12550451/11604952/cd6b1d70-9aa8-11e5-829c-3d0f7d1cbb30.png)
![screen shot 2015-12-04 at 5 01 34 pm](https://cloud.githubusercontent.com/assets/12550451/11604951/cd6a118c-9aa8-11e5-8613-b6bae7939219.png)

Also, selecting a time from the dropdow

[2015-12-07 14:28] #525 closed, assigned to sconnelley

[2015-12-07 14:33] #527 closed, assigned to sconnelley

[2015-12-07 14:46] sconnelley commented on #531
![image](https://cloud.githubusercontent.com/assets/565486/11629687/93a4633c-9cc7-11e5-8feb-99cd51874a0d.png)

![image](https://cloud.githubusercontent.com/assets/565486/11629660/6bcb17fc-9cc7-11e5-82e0-db9435c7d11f.png)

[2015-12-07 14:46] #531 closed, assigned to sconnelley

[2015-12-07 14:54] #534 closed, assigned to sconnelley

[2015-12-07 15:19] #535 closed, assigned to sconnelley

[2015-12-07 15:19] #536 closed, assigned to sconnelley

[2015-12-07 16:18] #537 closed, assigned to sconnelley

[2015-12-07 16:20] sconnelley commented on #537
**BEFORE**
![image](https://cloud.githubusercontent.com/assets/565486/11632288/763f1dd4-9cd4-11e5-8adc-22c62e2335dc.png)

**AFTER**
![image](https://cloud.githubusercontent.com/assets/565486/11632277/5b14b370-9cd4-11e5-9386-0d33b666a234.png)

[2015-12-07 18:42] #539 closed, assigned to sconnelley

[2015-12-07 19:07] sconnelley commented on #542
![image](https://cloud.githubusercontent.com/assets/565486/11636787/e31a8936-9ceb-11e5-8db6-54661c1db9a5.png)

[2015-12-07 19:07] #542 closed, assigned to sconnelley

[2015-12-07 19:23] nicolettehayes commented on #549
Okay, here's a solution: Switch the color of the border from white to #33322e; multiply 100% opacity. Keep other behavior the same (image shrinks to fit in frame, dimensions of border, etc.).

![screen shot 2015-12-07 at 11 21 28 am](https://cloud.githubusercontent.com/assets/12550451/11637161/c0143746-9cd4-11e5-9b48-3a5a44b97c21.png)

[2015-12-07 19:26] nicolettehayes commented on #549
(is it easier to give you a simple hex than a hex with blending modes?

#33322e multiply = #0a0a08

[2015-12-07 19:48] sconnelley commented on #543
wow that is a weird one...

[2015-12-07 20:13] sconnelley commented on #543
Pretty sure this is fixed, closing for now may need to re-open for specific browser problems

[2015-12-07 20:13] #543 closed, assigned to sconnelley

[2015-12-07 20:38] #544 closed, assigned to sconnelley

[2015-12-07 20:38] sconnelley commented on #555
Working again, hurray!

[2015-12-07 20:38] #555 closed, assigned to sconnelley

[2015-12-07 20:41] sconnelley commented on #546
@nicolettehayes what does the camera icon on the feedback form do?

[2015-12-07 20:42] sconnelley commented on #546
Mmmm, nvrmind.  I see it is a 3rd party form....

[2015-12-07 21:25] sconnelley commented on #546
Had to modify the User Voice widget a little to work in our layout
![image](https://cloud.githubusercontent.com/assets/565486/11640159/20da45b4-9cff-11e5-9502-34cbcf0462e4.png)

[2015-12-07 21:25] #546 closed, assigned to sconnelley

[2015-12-07 21:58] nicolettehayes commented on #541
Just clicked "wander" and this appears to still be happening:
<img width="1428" alt="screen shot 2015-12-07 at 1 50 33 pm" src="https://cloud.githubusercontent.com/assets/12550451/11640984/8832e1c2-9cea-11e5-8ceb-14a9e47ac4ad.png">

[2015-12-07 22:16] nicolettehayes commented on #554
This looks fixed to me most of the time. I can cause weird things to happen by doing lots of clicking back and forth and random scrolling, but everything is fixed when I refresh.

example weirdness--scrolling back to top from "explore" (double header):
![screen shot 2015-12-07 at 2 13 34 pm](https://cloud.githubusercontent.com/assets/12550451/11641361/c9e298ae-9cec-11e5-82d0-b64352f146fc.png)

exa

[2015-12-07 22:17] nicolettehayes commented on #530
This is looking done. I'm going to open a new issue for mobile specifically, because intermediate and wider screens are looking great!

[2015-12-07 22:18] nicolettehayes opened #556 "Mobile breakpoint"
Need to implement breakpoint behavior for smallest screensize.

[2015-12-07 22:25] nicolettehayes opened #557 "Spanish translation"
We have an "en espanol" button in the footer that currently doesn't do anything. So this issue is a reminder to translate the page when it's clicked.

If, however, this is out of scope for this round, we should delete the prompt!

from the old site:
![screen shot 2015-12-07 at 3 11 15 pm](https://cloud.githubusercontent.com/assets/12550451/11642791/ce41f1b2-9cf4-11e5-8312-2cde1ddea546.png)
![scree

[2015-12-07 22:51] nicolettehayes commented on #556
![caliparks-1116-responsive_mobile - home 1 copy](https://cloud.githubusercontent.com/assets/12550451/11642258/c25241ca-9cf1-11e5-8b6c-5aa1f4e4cf37.png)
![caliparks-1116-responsive_mobile - home 2 explore copy 2](https://cloud.githubusercontent.com/assets/12550451/11642261/c4da1b66-9cf1-11e5-8751-1c949ee19646.png)
![caliparks-1116-responsive_mobile - home 3 discover](https://cloud.githubuserconten

[2015-12-07 22:53] nicolettehayes commented on #556
HOME
![caliparks-1116-responsive_mobile - home 1 copy](https://cloud.githubusercontent.com/assets/12550451/11642326/35476688-9cf2-11e5-9957-b193d095af39.png)
Caliparks logo shrinks, menu items lose description, single instagram image shrinks to full width.

EXPLORE
![caliparks-1116-responsive_mobile - home 2 explore copy 2](https://cloud.githubusercontent.com/assets/12550451/11642331/3c7f3110-9cf2

[2015-12-07 23:16] nicolettehayes opened #558 "Creative Commons attribution"
I want to go back over the creative commons images I grabbed and make sure that I am clear on attribution for all of them.

[2015-12-07 23:57] nicolettehayes opened #559 "Reset counter to # 1 on Explore page when new list is loaded"
At the moment, the 1-10 ranking changes based on time frame and geography, which is fantastic.

What would be EVEN more fantastic, would be having the ranking go back to # 1 when the search parameters change.

For example, if I've been looking through results for the state this week and happen to get to # 5 before I get bored:
![screen shot 2015-12-07 at 3 50 23 pm](https://cloud.githubusercontent

[2015-12-08 00:01] nicolettehayes opened #560 "Scrolling can be challenging"
Sometimes when I scroll my mouse wheel nothing happens for 10+ clicks. Other times the screen changes after a single click. The less scrolling we can consistently do to have the page change, the better.

Also, I would consider making the arrows at the bottom of the screen interactive so that even if scrolling doesn't occur to a silly user, they will have a method for getting to the next section.

[2015-12-08 00:12] nicolettehayes opened #561 "Interactivity refinement for park list on activity page"
![screen shot 2015-12-07 at 4 09 21 pm](https://cloud.githubusercontent.com/assets/12550451/11643997/0954ffa8-9cfd-11e5-8852-e5c91b982b4c.png)

When clicking on a park name in the park list on the activity page, the park should highlight on the map:
![screen shot 2015-12-07 at 4 09 31 pm](https://cloud.githubusercontent.com/assets/12550451/11643998/0d944a88-9cfd-11e5-854f-d7edf5073b1a.png)

Howeve

[2015-12-08 00:17] nicolettehayes opened #562 "Map on park page should center on photo location"
Can we set the first photo in the feed's location as the centerpoint of the park map?

Currently:
![screen shot 2015-12-07 at 4 13 47 pm](https://cloud.githubusercontent.com/assets/12550451/11644058/aa26f83c-9cfd-11e5-9ea4-bed770102b82.png)

Preferred:
![screen shot 2015-12-07 at 4 15 23 pm](https://cloud.githubusercontent.com/assets/12550451/11644066/bce8ec96-9cfd-11e5-84c1-9fba28dd92cc.png)

And

[2015-12-08 00:24] nicolettehayes opened #563 "Interactivity in the FAQ"
Each of the little triangles to the left of the questions in the FAQ should take you back to the very top of the FAQ page when clicked.

![screen shot 2015-12-07 at 4 23 02 pm](https://cloud.githubusercontent.com/assets/12550451/11644193/e5a64bf0-9cfe-11e5-9a1f-009d4b9d44ee.png)

[2015-12-08 00:36] nicolettehayes opened #564 ""more" arrows on Discover page can disappear when inactive."
Rather than just fading back the inactive arrow, let's hide them completely:

![screen shot 2015-12-07 at 4 32 56 pm](https://cloud.githubusercontent.com/assets/12550451/11644404/9b505666-9d00-11e5-9109-196c29813a02.png)

[2015-12-08 04:08] sconnelley commented on #557
it does do what it's supposed to but we just don't have any translations...
![image](https://cloud.githubusercontent.com/assets/565486/11647571/76850318-9d37-11e5-85dd-cd8532c5827b.png)

[2015-12-08 04:35] sconnelley commented on #551
![image](https://cloud.githubusercontent.com/assets/565486/11647867/44111134-9d3b-11e5-91c2-63fc21701d41.png)

[2015-12-08 04:40] sconnelley commented on #548
Let's switch Facebook verbiage to 'Share'...
- [x] Camp Here links
- [x] Facebook Share message
- [x] Twitter tweet message
- [x] Park page links open to blank page

[2015-12-08 04:53] sconnelley commented on #548
![image](https://cloud.githubusercontent.com/assets/565486/11648058/c31805a8-9d3d-11e5-9a3f-8ed3cb2a71b3.png)

[2015-12-08 16:27] danrademacher commented on #557
Last time, we hired a student to do the translation. I can dig up her name and help get that done. @sconnelley, where do the locale files live in the new build?

[2015-12-08 17:05] sconnelley commented on #557
Ok first pass at pulling out all the strings that need to be translated is done.  There is probably some I missed but this will be a decent start.

Locale files are [here](https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/locales/)
Spanish file is [here](https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/locales/es.json)

[2015-12-08 17:15] #548 closed, assigned to sconnelley

[2015-12-08 17:20] danrademacher commented on #557
Great. Thanks. Actually, most of these we have in the old `es.json`, so I can just port them over. Maybe tonight

[2015-12-08 18:57] sconnelley commented on #552
Fixed a few days ago

[2015-12-08 19:08] nicolettehayes commented on #552
It looks even odder on my machine at the moment:

![screen shot 2015-12-08 at 11 08 41 am](https://cloud.githubusercontent.com/assets/12550451/11665404/0f1680e8-9d9c-11e5-8f96-46d56e3e7bd7.png)

[2015-12-08 19:40] nicolettehayes commented on #541
I changed my mind about this one! Since we _can_ get to any park by just zooming  in to an area on the "explore" map, I think we can include parks with "no activities".

But let's change the verbiage to "No activities data available." in teal #358292

![screen shot 2015-12-08 at 11 40 17 am](https://cloud.githubusercontent.com/assets/12550451/11666256/7672fd1c-9da0-11e5-9a7e-e6b35f9d4d28.png)

[2015-12-08 19:40] #562 closed, assigned to sconnelley

[2015-12-08 19:44] sconnelley commented on #549
![image](https://cloud.githubusercontent.com/assets/565486/11666365/1fd94cbc-9dba-11e5-88b1-c9b0652e0b2e.png)

[2015-12-08 19:44] #549 closed, assigned to sconnelley

[2015-12-08 19:45] sconnelley commented on #553
Yeah it looks like it's because they have no activities.
But we also have no park named "North Sonoma Mountain Regional Park"

[2015-12-08 19:53] nicolettehayes commented on #553
Is there anyway we could ensure that all parks get a dot, with or without activities or photos?

Of the ~50 parks on the official list, how many _are_ in our data? http://parks.sonomacounty.ca.gov/Get_Outdoors/Parks_A-Z.aspx (might be good to give Jon a heads up if it's less than he's expecting).

[2015-12-08 20:31] #550 closed, assigned to sconnelley

[2015-12-08 20:40] sconnelley commented on #557
FAQ page is set up a little different, the translations are stored here, https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/constants/faq.js#L68

[2015-12-08 20:44] sconnelley commented on #553
I am going to push checking how many Sonoma Parks we have to @mojodna.

[2015-12-08 20:49] #559 closed, assigned to sconnelley

[2015-12-08 21:01] sconnelley commented on #541
![image](https://cloud.githubusercontent.com/assets/565486/11668359/c193f6ba-9dc4-11e5-9428-38d4580354aa.png)

[2015-12-08 21:16] sconnelley commented on #553
@nicolettehayes Actually the reason the parks are not showing up on the Explore page because they have no photos.  I think we would need to add some way for the user to disable the time range filtering. And use the map purely as an exploration tool.

[2015-12-08 21:21] sconnelley commented on #564
![image](https://cloud.githubusercontent.com/assets/565486/11668866/6f4394ee-9dc7-11e5-9085-c5f283dad8d5.png)
![image](https://cloud.githubusercontent.com/assets/565486/11668872/74bcf384-9dc7-11e5-86b2-825fe1f5e295.png)

[2015-12-08 21:21] #564 closed, assigned to sconnelley

[2015-12-08 21:21] #541 closed, assigned to sconnelley

[2015-12-08 21:33] sconnelley commented on #552
That's weird, I am seeing this currently.  Can you check to see if there are any errors on the page.  If so can you screengrab and attach to this thread.
![image](https://cloud.githubusercontent.com/assets/565486/11669153/2c0315b8-9dc9-11e5-96ed-ae65b93412e1.png)

[2015-12-08 21:48] nicolettehayes commented on #552
hope this helps!
![screen shot 2015-12-08 at 1 47 38 pm](https://cloud.githubusercontent.com/assets/12550451/11669577/4e905026-9db2-11e5-8674-64c9fdf75773.png)

[2015-12-09 00:32] nicolettehayes commented on #553
If possible it would be great to add a non-photo count state to this map (like what exists on the activity page map) so that at the tightest zoom level, dots appear for "unpopular" parks that have a simple non-numerical callout:

![screen shot 2015-12-08 at 4 29 50 pm](https://cloud.githubusercontent.com/assets/12550451/11672872/f91074ca-9dc8-11e5-9ee6-d007dd280341.png)

But if this is a can of wo

[2015-12-09 00:58] nicolettehayes opened #565 "Instagram photo streams not updating for some parks"
The parks that I navigate to from the homepage, wander, or the top ten list all show recent photos on their park page:

good
![screen shot 2015-12-08 at 4 44 59 pm](https://cloud.githubusercontent.com/assets/12550451/11673128/159758fa-9dcb-11e5-9ab6-32cb402c08d4.png)

great
![screen shot 2015-12-08 at 4 45 19 pm](https://cloud.githubusercontent.com/assets/12550451/11673129/15976ee4-9dcb-11e5-98b5-

[2015-12-09 01:47] nicolettehayes commented on #558
They are all public domain.

Public Domain

The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.

You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking perm

[2015-12-09 01:47] #558 closed, assigned to nicolettehayes

[2015-12-09 04:59] sconnelley commented on #565
The last photo added to "Jack London State Park" was April 6th, 2015.  I am not sure why so I am moving this to @mojodna since it's a little beyond me at this point to dive into how the photo harvesters work.

Here is psql query used to determine latest photo:

[code]

[2015-12-09 06:14] #563 closed, assigned to sconnelley

[2015-12-09 06:15] sconnelley commented on #553
@nicolettehayes let's talk tmrw sometime about this, I am a little unclear on how it would work...

[2015-12-09 15:58] #561 closed, assigned to sconnelley

[2015-12-09 17:34] #554 closed, assigned to sconnelley

[2015-12-09 17:35] sconnelley commented on #560
I fixed the lag in the scrolling, let's see if that helps it.

[2015-12-09 18:08] sconnelley commented on #552
Thanks but doesn't help much, maybe try doing a hard refresh to clear the cache?

[2015-12-09 18:26] sconnelley commented on #557
@danrademacher -- I just pulled translations from old site.

[2015-12-09 18:30] nicolettehayes commented on #552
Looks the same after clearing the cache. Also, it's happening on my phone safari browsey the same way.
<img width="1175" alt="screen shot 2015-12-09 at 10 29 32 am" src="https://cloud.githubusercontent.com/assets/12550451/11694598/d65269e2-9e5f-11e5-8720-980c1d391101.png">

[2015-12-09 18:33] nicolettehayes commented on #552
![img_4188](https://cloud.githubusercontent.com/assets/12550451/11694667/3a08b734-9e60-11e5-916e-8eb8dd0ff5e3.PNG)

[2015-12-09 18:34] danrademacher commented on #557
Great! Got home late last night, ran out of time

[2015-12-09 19:10] nicolettehayes opened #566 "Collapse instagram 404s"
I may have titled this wrong, but I found a park with no photos except 2 broken ones, and it would be great to have those just disappear.

Below is a screenshot of a park with no photos behaving properly and the park with broken photos next to it:

![screen shot 2015-12-09 at 11 07 25 am](https://cloud.githubusercontent.com/assets/12550451/11695691/6c664d4a-9e65-11e5-9032-086f3576c470.png)

[2015-12-09 19:31] nicolettehayes commented on #553
Available anytime! We should definitely talk about it--any ideas you have for making it possible to navigate to Sonoma County Parks would be great, as those are a focus for this launch.

[2015-12-09 21:20] nicolettehayes commented on #566
I have no idea if collapsing 404s is really what's necessary here, but if so, I should reference #470

[2015-12-09 21:26] #552 closed, assigned to sconnelley

[2015-12-09 21:34] nicolettehayes commented on #560
looks great. done!

[2015-12-09 21:48] #560 closed, assigned to sconnelley

[2015-12-09 22:26] #566 closed, assigned to sconnelley

[2015-12-11 18:06] mojodna commented on #565
[code]

[2015-12-11 19:22] sethfitz commented on #565
It appears to be split-related. Split regions are ignored when crawling (because the smaller splits should be used). However, the splits don't appear to exist... Still investigating.

[2015-12-12 14:02] sethfitz commented on #565
Splits do exist, but `split == NULL`.

[2015-12-12 20:19] sethfitz commented on #565
Somehow `instagram_region`'s schema completely lacks all of the constraints that it should have. Beyond `split` not defaulting to `false`, `id` isn't being treated as `serial`...

[2015-12-13 20:39] sethfitz commented on #565
I think this is sorted; it's re-harvesting (new regions, appending to the photos we know about) now and once that's done, I'll reset the splits to reduce the number of regions we need to track moving forward. We're up over 2M photos now.

[2015-12-14 17:33] sethfitz commented on #565
This is better now after a flurry of commits on the `node-harvesters` branch complementing observation of them running. It's caught up to Saturday and re-splitting the regions now so that subsequent runs will happen quicker.

[2015-12-14 17:33] #565 closed, assigned to nobody

[2015-12-14 17:33] sethfitz commented on #565
[code]

[2015-12-14 19:43] sethfitz opened #567 "Retina tiles"
Map does not currently display retina tiles.

[2015-12-16 01:59] nicolettehayes commented on #557
https://docs.google.com/a/stamen.com/spreadsheets/d/1pAzam2BtwQZ7d7K1jSnMs6S414MQ4P0dvx8Q3tpiw4c/edit?usp=sharing

https://docs.google.com/a/stamen.com/spreadsheets/d/1f2SpHxdBc3evSzhHQJNP6nTtEwbuH_3c44X0KAqOPKo/edit?usp=sharing

[2015-12-22 15:47] #557 closed, assigned to sconnelley

[2015-12-22 15:48] #530 closed, assigned to sconnelley

[2015-12-22 15:48] #556 closed, assigned to sconnelley

[2016-01-04 18:56] nicolettehayes opened #568 "Reintroduce park search to the "explore" page"
A park search option as well as as "locate me" button and a "refine search area" button.

![screen shot 2016-01-04 at 10 54 17 am](https://cloud.githubusercontent.com/assets/12550451/12097649/9915ef1e-b2d1-11e5-9a41-0879ae3e6bc6.png)

[2016-01-04 19:03] nicolettehayes commented on #506
This will need some tweaking before it is implemented, but I do still think that showing a filterable cluster of photo dots on the map is something we should have. The trick will be in displaying those images in a responsive environment.

[2016-01-04 19:05] nicolettehayes commented on #505
to reiterate, the changes needed here revolve around adding a park search, and making the "refine search area" active on the click of a button instead of being automatic when zooming. Also, adding a "locate me" button.

[2016-01-04 19:06] nicolettehayes commented on #523
The site background is currently #eeeff3, which makes this new map styling a priority again.

[2016-01-04 19:07] nicolettehayes commented on #547
I like how this is implemented currently (zoomed in close), but may need to be revisited when we add multiple photo markers to the map (see #506 )

[2016-01-04 19:13] nicolettehayes opened #569 "Clicking "en espanol" does not activate spanish immediately"
I tried switching to Spanish a couple of times and saw no visible change. However, once I continued using the site, it flipped to Spanish unsolicited about several clicks later.

Immediately after selecting "en espanol":
![screen shot 2016-01-04 at 11 10 18 am](https://cloud.githubusercontent.com/assets/12550451/12097997/08516d0c-b2d4-11e5-8196-bc01082eb639.png)

16 clicks later (never clicked "en

[2016-01-04 19:16] nicolettehayes opened #570 "Don't translate "Caliparks" to "Caliparques""
After talking to the translator and other people, we agreed that "Caliparks" is a name and therefore should not be turned into a Spanishized version of itself.

So this:
![screen shot 2016-01-04 at 11 14 02 am](https://cloud.githubusercontent.com/assets/12550451/12098049/6deb57c2-b2d4-11e5-974a-cbd9d65e9f5f.png)

Should always remain this:
![screen shot 2016-01-04 at 11 16 11 am](https://cloud.git

[2016-01-04 19:22] nicolettehayes opened #571 "Footer behavior"
ACTIVITY PAGE
When I resize I see a peek of it at the bottom, but can never scroll to it:

![screen shot 2016-01-04 at 11 18 56 am](https://cloud.githubusercontent.com/assets/12550451/12098127/0374e79a-b2d5-11e5-8205-7253cf8b153d.png)

PARK PAGE
Not behaving entirely responsively (when I resize the page a gray border appears at the bottom instead of the footer sticking to the bottom and the photo

[2016-01-04 19:25] nicolettehayes opened #572 "Not seeing "get involved with this park" links on regional parks"
Sonoma County Regional Parks should have a "get involved" link, but I don't see it on this example:

![screen shot 2016-01-04 at 11 24 31 am](https://cloud.githubusercontent.com/assets/12550451/12098248/d08eb4ea-b2d5-11e5-85bd-fab5186175b3.png)

[2016-01-04 19:31] nicolettehayes opened #573 "Change names of 2 Discover activities"
Can we change these 2 activity names:

"Kayaking / Canoeing" to "Kayaking & Canoeing"
![screen shot 2016-01-04 at 11 25 57 am](https://cloud.githubusercontent.com/assets/12550451/12098352/ae711884-b2d6-11e5-9b20-fb7aa82aee8a.png)

"OHV" to "Off Highway Vehicles"
![screen shot 2016-01-04 at 11 31 30 am](https://cloud.githubusercontent.com/assets/12550451/12098365/bc8d97da-b2d6-11e5-9161-bb4f1b20bf6

[2016-01-04 19:51] sconnelley commented on #570
Is done but waiting for me to push it live before anyone can see it...

[2016-01-04 19:51] #570 closed, assigned to nobody

[2016-01-04 19:56] sconnelley commented on #515
Transpiling on the heroku but it no longer needs `babel-node` in production
https://github.com/stamen/caliparks.org/commit/14321d06b1d31e3feb71ebbe097034d1287ecefb

[2016-01-04 20:02] sconnelley commented on #572
Here is the current list I have of park ID's that get the "Get Involved" link,
https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/public/assets/data/stories.json
@mojodna do you know of anymore?

[2016-01-04 20:06] sethfitz commented on #515
:metal:

[2016-01-04 20:06] #515 closed, assigned to sethfitz

[2016-01-04 20:25] sconnelley commented on #573
![image](https://cloud.githubusercontent.com/assets/565486/12099563/4749b3fc-b2f7-11e5-95ae-36f4b6791b09.png)
![image](https://cloud.githubusercontent.com/assets/565486/12099591/72395220-b2f7-11e5-8dac-8e3326482a71.png)

[2016-01-04 20:25] #573 closed, assigned to nobody

[2016-01-04 20:45] nicolettehayes commented on #572
So, for Hood Mountain (one of the 3 park IDs) I am now getting a "get involved" link that wasn't there before. Below are side by sides of now and then (also, I'm now trapped in spanish).

![screen shot 2016-01-04 at 12 41 57 pm](https://cloud.githubusercontent.com/assets/12550451/12099955/b09947ee-b2e0-11e5-8220-86a040b4260c.png)

[2016-01-04 20:46] sconnelley commented on #569
Seems to be a cache problem, since it is working on [staging](https://stamen-caliparks-dev.herokuapp.com).  @mojodna  - Any thoughts on fixing this?

[2016-01-04 20:50] nicolettehayes commented on #497
Links are now outdated (as is including rock climbing in the description)

<img width="763" alt="screen shot 2016-01-04 at 12 47 31 pm" src="https://cloud.githubusercontent.com/assets/12550451/12100102/a8274a60-b2e1-11e5-9b5d-1b4721fdaef9.png">

[2016-01-04 20:52] sconnelley commented on #568
Initial implementation of search is on staging, https://stamen-caliparks-dev.herokuapp.com/#explore

[2016-01-04 21:27] nicolettehayes commented on #568
This is great, especially for immediate use. Would further work mean adding the other buttons, or would it actually improve the search function? For example, 2 Hood mountains showing up, but only one working (the last item in the list just breaks):
![screen shot 2016-01-04 at 1 21 38 pm](https://cloud.githubusercontent.com/assets/12550451/12100917/e4415392-b2e6-11e5-8999-e7cfdaf4372a.png)

[2016-01-04 21:32] nicolettehayes commented on #568
And would it also possibly include words that appear out of sequence? For example, searching for Dolores Park only works if you put "Mission" in at the beginning:
![screen shot 2016-01-04 at 1 29 48 pm](https://cloud.githubusercontent.com/assets/12550451/12101037/7099ec50-b2e7-11e5-98c1-0899f3c5b8e9.png)

versus no results:
![screen shot 2016-01-04 at 1 29 57 pm](https://cloud.githubusercontent.co

[2016-01-04 21:51] nicolettehayes opened #574 "Embed Option - Map only"
Need to include a way for state parks to embed individual parks, whether this utilizes Dan's guide, or involves our original mocks.

[2016-01-04 21:56] sethfitz commented on #551
Grab the full list of Sonoma County Parks ids and add them to the JSON.

[2016-01-04 21:59] sethfitz commented on #551
Fixed in 7c7900f56844c58231197c5743982cdfd128b09b

[2016-01-04 21:59] #551 closed, assigned to nobody

[2016-01-04 22:03] nicolettehayes commented on #553
need markers on all parks, whether or not they have photos and/or activities.

[2016-01-04 22:07] nicolettehayes opened #575 "zoom to park on activity page"
when a park is selected from the list, rather than just highlighting on the map, also zoom in to it.

example, cuyamaca is way down at the bottom right. zoom and center on the park that has been clicked.
<img width="1249" alt="screen shot 2016-01-04 at 2 06 40 pm" src="https://cloud.githubusercontent.com/assets/12550451/12101924/6a0b6ada-b2ec-11e5-9411-909d4fa9e514.png">

[2016-01-04 22:10] nicolettehayes opened #576 "Locate me"
add locate me function

[2016-01-04 22:10] nicolettehayes opened #577 "Add "refine search" button"
change search refining to be a click function instead of an automatic zoom function.

[2016-01-04 22:19] sethfitz commented on #569
`Vary: Content-Language` or something seems likely. I'm investigating the original codebase to see how I configured cache headers there.

[2016-01-04 22:28] nicolettehayes opened #578 "design for search in the mobile view"
the search and the park name overlap. fix this!

[2016-01-04 22:35] nicolettehayes commented on #505
this issue is the sum total of #568, #576, #577, and #575.

[2016-01-04 22:37] sethfitz commented on #569
Fixed in 70a8c72bbc40dd34e78f22a28f164ab2c4ca3dbc

[2016-01-04 22:40] sethfitz commented on #523
/cc @almccon for a locally-available version.

[2016-01-04 22:49] nicolettehayes commented on #553
so, my takeaway on this one is that we will keep the dots the way they are (showing top 10) until you zoom in. Then dots will appear for ALL parks, but with a gray (clickable) dot if they don't have photos/are ranked lower than top 10.

The zoom level shouldn't be THE closest, but rather something medium zoomed in like in the screengrab below (sorry, can't determine what level I'm at on the fly!):

[2016-01-04 23:44] nicolettehayes commented on #578
okay, here are my thoughts.

I think the search bar should collapse to a single square icon when not active (when you are focusing on the top 10--see 2 images on the left). Since searching is essentially a different function than looking at the top 10, my first choice would be for activating the search bar to REMOVE the selected park caption box when typing or viewing a searched-for park (see thir

[2016-01-04 23:46] nicolettehayes commented on #578
This would be the interim view for the 2 options (the moment after you click on the magnifying glass, but haven't yet typed anything):
![screen shot 2016-01-04 at 3 45 49 pm](https://cloud.githubusercontent.com/assets/12550451/12103783/54306824-b2fa-11e5-988e-1ecfbfa4d655.png)

[2016-01-04 23:55] nicolettehayes commented on #576
![locator](https://cloud.githubusercontent.com/assets/12550451/12103949/88a21ef8-b2fb-11e5-9a99-ad82fc987167.png)

[2016-01-04 23:56] nicolettehayes commented on #577
![screen shot 2016-01-04 at 3 56 14 pm](https://cloud.githubusercontent.com/assets/12550451/12103970/bcdfa19a-b2fb-11e5-8f5c-054af9c6d2f6.png)

[2016-01-05 00:47] emilyhobson commented on #572
Regional Parks only, not the State Parks

jim [4:46 PM]
@seth: apparently on the sonoma county regional park label, it has now been applied to all parks in sonoma county…can you help debug where this is happening, bad data in the import table or somewhere during import?

[2016-01-05 01:08] nicolettehayes commented on #574
learned from Jon that this refers ONLY to the map itself--embedding activities data or a live photo stream is unnecessary/unwanted. So this becomes: how can we explain to park managers how to 1)embed our custom maps and 2)embed curated photos a la pinterest. As an extra cherry on top, Jon requested a special treatment mapwide for State Parks (that would only exist in the embed I guess?) so that on

[2016-01-05 01:14] emilyhobson commented on #574
Let's break out the embed photos into another issue and leave this as embed maps.

[2016-01-05 01:18] emilyhobson opened #579 "Embed option - Photos"
Embed photos on a park site.

Curation requirement has been provided a solution/workaround via embedded Pinterest with instructions https://github.com/stamen/caliparks.org/wiki/A-simple-way-to-embed-curated-social-media-images-on-your-own-site.

Update issue as requirements are further defined.

[2016-01-05 15:55] sconnelley commented on #568
Updated label's file so should see some improved in results:
![image](https://cloud.githubusercontent.com/assets/565486/12119625/c9939816-b39a-11e5-9fb9-a1707434afec.png)

[2016-01-05 19:50] #567 closed, assigned to nobody

[2016-01-05 19:55] nicolettehayes commented on #569
For a minute I thought this was working better, but now it doesn't seem to be. For example, clicking "en espanol" on the homepage does not translate, but traps me in spanish on the park pages (where clicking "english" has no effect). Let me know if you need more information!

[2016-01-05 20:06] sethfitz commented on #569
@sconnelley have you deployed my changes yet (guessing no, and that it's waiting for other changes)? (it'll require a Fastly purge)

[2016-01-05 20:08] nicolettehayes opened #580 ""preguntas frequentas" is incorrect"
For one thing, "frecuentes" is possibly misspelled. But more importantly, the whole thing is too long! I propose either leaving it untranslated (FAQ) or using the Spanish acronym PUF (standing for Preguntas de Uso Frecuente).

![screen shot 2016-01-05 at 11 59 01 am](https://cloud.githubusercontent.com/assets/12550451/12126201/8c5536a8-b3a4-11e5-9db0-6ed819188f29.png)

Aside from all this, we need

[2016-01-05 20:11] nicolettehayes commented on #574
Jon confirmed that the state parks highlighting applies only to the embed: "The question is not whether it would make sense to highlight certain sets of parks, such as State Parks, in the app/website universally, but, instead, whether a given institution such as State Parks, or, say, Sonoma County Regional Parks could choose to highlight their parks when they embed the basemaps on their websites.

[2016-01-05 20:13] nicolettehayes opened #581 "On park page, photo arrow shifts"
After clicking through the carousel about 30 times, suddenly the arrow shifted down, and started jumping back and forth between this position and the correct one:

![screen shot 2016-01-05 at 11 48 11 am](https://cloud.githubusercontent.com/assets/12550451/12126378/b54f3846-b3a5-11e5-9056-a5453477d4eb.png)

[2016-01-05 20:21] nicolettehayes opened #582 "On park page, photo feed ends"
Sometimes I can't get more photos to load in the carousel. For example, in Standish Hickey (http://www.caliparks.org/park/1755) I can click right 8 times (which takes me 28 weeks back) and then it just stops. Why is this? Not a huge deal, but thought I'd mention it in case it's solvable.
![screen shot 2016-01-05 at 11 43 30 am](https://cloud.githubusercontent.com/assets/12550451/12126599/041d7c20-

[2016-01-05 20:24] nicolettehayes opened #583 "Selecting a park on the activities page doesn't always update"
Sometimes when I click the dot for GGNRA, the caption reads "Del Valle", and sometimes it reads "GGNRA".

![screen shot 2016-01-05 at 11 36 37 am](https://cloud.githubusercontent.com/assets/12550451/12126610/169ce5e8-b3a7-11e5-9f1b-737239446899.png)

![screen shot 2016-01-05 at 11 38 32 am](https://cloud.githubusercontent.com/assets/12550451/12126636/38552dc6-b3a7-11e5-9e59-77f5e3b739aa.png)

[2016-01-05 20:32] nicolettehayes commented on #568
Is there anyway to improve the usability of the search box itself? @ericrodenbeck and I were messing with it yesterday and a few things came up that would be helpful:

1) increase the click area -- at the moment, it is possible to click the word just wrong and end up in limbo (see below). I think the park should be selectable whether you click the actual word OR to the right or left of it.

![scre

[2016-01-05 21:50] ericrodenbeck commented on #568
Cool.

I should note that using the arrow to move through suggested results is a
feature of Safari & Chrome.

e

On Tue, Jan 5, 2016 at 12:32 PM, nicolettehayes notifications@github.com
wrote:

##

Eric Rodenbeck
CEO & Creative Director, Stamen Design
415.558.1610
http://www.stamen.com/
http://content.stamen.com/

"A good sketch is better than a long speech."
—Napoleon Bonaparte

[2016-01-06 00:20] nicolettehayes opened #584 "Change responsive behavior of the nav bar"
Rather than having the nav bar fill all the vertical space in a responsive environment like this:

![screen shot 2016-01-05 at 1 19 59 pm](https://cloud.githubusercontent.com/assets/12550451/12131507/079d938c-b3c8-11e5-9feb-dac4fc5b1f89.png)

Can we use the dark gray background of the instagram photo carousel to fill the space:

![screen shot 2016-01-05 at 4 17 38 pm](https://cloud.githubuserconte

[2016-01-06 01:20] nicolettehayes opened #585 "mobile viewport is smaller than in mocks"
Across the board in mobile we have some problems born from me leaving browser paraphernalia out of my calculations of the screen size (I was assuming 548px, it looks like the current site assumes 440px).

Is it possible to maintain the aspect ratio/dimensions of the mock, and just let them bleed over?

So instead of this:
![screen shot 2016-01-05 at 5 09 18 pm](https://cloud.githubusercontent.com/

[2016-01-06 01:24] nicolettehayes opened #586 "Going to a new page in mobile should bring you to the top"
When I click on the backpacking icon in Discover, I land at the bottom of the activities page instead of the top:

![img_9560](https://cloud.githubusercontent.com/assets/12550451/12132513/2609dd4a-b3d1-11e5-90d2-a4284f9ebc38.PNG)

[2016-01-06 01:27] nicolettehayes opened #587 "In mobile, default view should be the first tab"
When there are tab view options (activities page, park page), the one on the left should automatically be open.

So instead of this, we would see the list view:
![img_9558](https://cloud.githubusercontent.com/assets/12550451/12132539/733b8a50-b3d1-11e5-9741-ff5902e27b54.PNG)

And instead of this, we would see the photo view:
![img_9562](https://cloud.githubusercontent.com/assets/12550451/12132549/

[2016-01-06 01:30] nicolettehayes opened #588 "Remove secondary "Caliparks" header from the mobile homepage"
Can we nix the
![screen shot 2016-01-05 at 5 28 01 pm](https://cloud.githubusercontent.com/assets/12550451/12132560/b69e04c6-b3d1-11e5-9ab4-e9c4af920b89.png)
in the middle of the mobile homepage?

I guess it has to stay on the activity and parks pages as a means to navigate back to the homepage.

[2016-01-06 01:48] nicolettehayes opened #589 "Instagram photos don't link to Instagram on mobile"
Clicking on the instagram photo on the park page doesn't link out.

I guess this is necessary?

[2016-01-06 01:50] nicolettehayes opened #590 "Not a fan of the default arrows for mobile"
The little blue guy after Klamath National Forest looks out of place. Can we pick a different one?

![screen shot 2016-01-05 at 5 49 12 pm](https://cloud.githubusercontent.com/assets/12550451/12132853/ae8844d8-b3d4-11e5-988c-0f2fd0514355.png)

[2016-01-06 01:53] nicolettehayes opened #591 "Discover rollover still active in mobile"
Can we disable the rollover state for the activities in discover on rollover in mobile?

So it'll always look like this:

![screen shot 2016-01-05 at 5 51 44 pm](https://cloud.githubusercontent.com/assets/12550451/12132886/0ce56952-b3d5-11e5-895b-889f6b72c74d.png)

Instead of like this:

![screen shot 2016-01-05 at 5 51 51 pm](https://cloud.githubusercontent.com/assets/12550451/12132889/1401516a-b

[2016-01-06 01:56] nicolettehayes opened #592 "in the mobile activities view, clicking a park name should do something"
Right now, clicking on a park in the mobile view of the activities page in the list view doesn't do anything unless you click the actual arrow:

![screen shot 2016-01-05 at 5 55 09 pm](https://cloud.githubusercontent.com/assets/12550451/12132926/7c0bbd40-b3d5-11e5-8a80-d17f12fe8b86.png)

I think clicking the park name should flip you to seeing the selected park on the map view, and the arrow shoul

[2016-01-06 02:00] nicolettehayes opened #593 ""Add to homescreen" graphic is pixellated"
Not the end of the world, but the icon looks pixellated.

Currently:
![screen shot 2016-01-05 at 5 57 47 pm](https://cloud.githubusercontent.com/assets/12550451/12132978/e1e61232-b3d5-11e5-9a87-178ed3f03321.png)

If it's easy enough to swap out, here are some other size options:

120x120
![home_icon_120 x 120](https://cloud.githubusercontent.com/assets/12550451/12132987/f036403c-b3d5-11e5-90cb-a00

[2016-01-06 02:03] sethfitz commented on #590
iOS does this by default. Possible workaround here: https://paulofierro.com/blog/2013/3/30/disabling-emoji-characters-with-unicode-variants

[2016-01-06 02:03] nicolettehayes opened #594 "On the mobile homepage, the left carousel button is floating"
Looks good on the right, but the left has a gap:

![screen shot 2016-01-05 at 6 02 46 pm](https://cloud.githubusercontent.com/assets/12550451/12133068/99395b10-b3d6-11e5-9295-3a9888e897ca.png)

[2016-01-07 18:57] sconnelley commented on #553
@nicolettehayes what grey do you want me to use for these markers? Currently using  `#aaa` but it blends a little too much into the background.
![image](https://cloud.githubusercontent.com/assets/565486/12179742/8e1f3936-b546-11e5-9cd6-c29c9dc9dbd7.png)

 Also, tried `#33322e` but it was a bit overwhelming.
![image](https://cloud.githubusercontent.com/assets/565486/12179753/a410a7de-b546-11e5-93c2

[2016-01-07 19:32] sconnelley commented on #577
@nicolettehayes The refine button and locate me buttons are in explore section, I had to move them up a little from the bottom because of the logo.  Let me know if you want me to change that position...
![image](https://cloud.githubusercontent.com/assets/565486/12180552/3b05819c-b54b-11e5-9fe3-f59ae4ff05fc.png)

[2016-01-07 19:32] sconnelley commented on #569
Ok it's deployed and seems to be working

[2016-01-07 19:32] #569 closed, assigned to nobody

[2016-01-07 19:35] sconnelley commented on #568
When the search input is focused, you can scroll and use arrow keys to navigate options. Also, increased options hit area...
Highlighting matches as well,
![image](https://cloud.githubusercontent.com/assets/565486/12180643/d8ade862-b54b-11e5-825b-f6da07546326.png)

[2016-01-07 19:35] #568 closed, assigned to nobody

[2016-01-07 19:35] #553 closed, assigned to sconnelley

[2016-01-07 19:36] sconnelley commented on #576
![image](https://cloud.githubusercontent.com/assets/565486/12180671/051efb0c-b54c-11e5-9916-9ff673c12e4e.png)

[2016-01-07 19:36] sconnelley commented on #577
Closing, open new issue for position change or other modifications

[2016-01-07 19:36] #577 closed, assigned to sconnelley

[2016-01-07 19:42] #572 closed, assigned to nobody

[2016-01-07 19:59] sconnelley commented on #589
It's only necessary when you want to keep users on the page when they click a photo.
Maybe we could expose a link on the map view to go see the instagram photo?

[2016-01-07 20:07] sconnelley commented on #580
Seems to cut-off below 1024px when in "English" language.

[2016-01-07 20:11] sconnelley commented on #580
BTW: Microsoft has a shortened translation of `P+F`, http://www.microsoft.com/Language/en-US/Search.aspx?sString=FAQ&langID=es-es

[2016-01-07 20:26] #580 closed, assigned to sconnelley

[2016-01-07 20:45] sconnelley commented on #571
@nicolettehayes for "Park Page", is the photo slider images are supposed to grow/shrink to fill the available space?

[2016-01-07 20:49] sconnelley commented on #594
![image](https://cloud.githubusercontent.com/assets/565486/12182410/1e4103be-b556-11e5-923d-b1849cbe1f6e.png)

[2016-01-07 20:49] #594 closed, assigned to sconnelley

[2016-01-07 20:55] sconnelley commented on #590
I'll just make it an SVG icon

[2016-01-07 21:23] sconnelley opened #595 "Return back total number of available photos for a park"
To be used to indicate when photo feed ends on park page...

[2016-01-07 21:23] sconnelley commented on #582
Ok fixed, but resulted in new issue, #595

[2016-01-07 21:23] #582 closed, assigned to sconnelley

[2016-01-07 21:39] nicolettehayes commented on #577
oh google logo.

this is fine!

[2016-01-07 21:52] nicolettehayes commented on #553
The gray that you decided on looks good to me, and I like the logic you used to implement it. Not perfect that the dots only load once you click "refine search area", but I'm not sure I can think of a better solution.

The one improvement I might still ask for would be to disable the top 10 ranking on the parks with no photos:

like here
![screen shot 2016-01-07 at 1 49 01 pm](https://cloud.github

[2016-01-07 21:56] nicolettehayes commented on #576
When I click the locate me button, I get this error message whether or not it applies:
![screen shot 2016-01-07 at 1 53 54 pm](https://cloud.githubusercontent.com/assets/12550451/12183850/62f9c366-b546-11e5-8922-d71edfab4dce.png)

[2016-01-07 23:06] nicolettehayes opened #596 "Finalizing regional parks list"
It looks like the issue pertaining to #572 (putting get involved links on Sonoma Regional Parks) is resolved, but I wanted to double-check that our list of Regional Parks is adequately complete for their needs (we may need Jon's help in assessing this).

Here is the list of Sonoma Regional Parks that I googled:
http://parks.sonomacounty.ca.gov/Get_Outdoors/Parks_A-Z.aspx

Of the 50 on this list, 3

[2016-01-07 23:16] nicolettehayes commented on #571
@sconnelley Ugh, good question. My immediate answer is to treat this carousel the same as the one on the homepage, but since it's not set up for full page scroll I'm not sure that is the best or easiest answer (see image below for reference). Do you have any ideas? If not, just leave it as is.
![screen shot 2016-01-05 at 4 17 38 pm](https://cloud.githubusercontent.com/assets/12550451/12185662/432e

[2016-01-07 23:27] nicolettehayes commented on #589
I'm more inclined to just say "nah" and close this issue.

[2016-01-07 23:32] nicolettehayes commented on #586
new pages seem to be inheriting the position of the previous page. ie when I click to a park page from the map, I land scrolled halfway down if that's where I was when I was looking at the map.

[2016-01-07 23:36] #494 closed, assigned to nobody

[2016-01-07 23:36] #492 closed, assigned to nobody

[2016-01-07 23:36] #491 closed, assigned to nobody

[2016-01-07 23:39] #456 closed, assigned to nobody

[2016-01-07 23:39] #31 closed

[2016-01-07 23:39] #104 closed

[2016-01-07 23:41] #198 closed

[2016-01-07 23:41] #271 closed

[2016-01-07 23:42] #488 closed, assigned to nobody

[2016-01-07 23:42] #489 closed, assigned to nobody

[2016-01-07 23:42] #483 closed, assigned to nobody

[2016-01-07 23:43] #482 closed, assigned to nobody

[2016-01-07 23:43] #316 closed

[2016-01-07 23:47] #443 closed, assigned to nobody

[2016-01-07 23:47] #361 closed

[2016-01-07 23:47] #405 closed

[2016-01-07 23:48] #440 closed, assigned to nobody

[2016-01-07 23:48] #452 closed, assigned to nobody

[2016-01-08 15:16] sconnelley commented on #571
@nicolettehayes Here's two options that I can see could work:
1) Float image slider in middle, like you have mentioned above
![image](https://cloud.githubusercontent.com/assets/565486/12201108/732d29a8-b5f0-11e5-8e2c-661906fbf126.png)

2) Increase size of thumbnails (max height would be <= to preview image next to map)
![image](https://cloud.githubusercontent.com/assets/565486/12201192/dcfb6e9e-b5

[2016-01-08 15:24] sconnelley commented on #571
@nicolettehayes We could also do something like this, where we create a grid with enough rows to fill the available space.  Each image would have a minimum size and a maximum size and the grid vertical align.  This would take the most effort but in the long run would be most flexible.

![image](https://cloud.githubusercontent.com/assets/565486/12201367/f3d292e0-b5f1-11e5-88a8-77d5925f403f.png)

[2016-01-08 16:13] #593 closed, assigned to sconnelley

[2016-01-08 18:34] sconnelley commented on #585
@nicolettehayes --> so you would like to turn off full-page scrolling for mobile?

[2016-01-08 18:49] nicolettehayes opened #597 "full screen map view for park page"
design a pop out map for the park page

[2016-01-08 18:58] nicolettehayes commented on #585
yes! I thought it already was? But yes!

[2016-01-08 19:21] nicolettehayes commented on #593
Sorry to bug you again, but is there a chance that this feature is turned off now? I just tried to activate it on a new phone and after 20 clicks I still never got the option to "save to homescreen".

[2016-01-08 20:53] sconnelley commented on #593
yeah it's set to only show once to prevent users from being annoyed with the popup.

[2016-01-08 21:07] sconnelley commented on #575
32c9ae92989b4fe2b30ff77dadffe23149eedb4c

[2016-01-08 21:07] #575 closed, assigned to sconnelley

[2016-01-08 21:07] sconnelley commented on #505
Ok all these things are in, file separate issues for specific problems

[2016-01-08 21:08] sconnelley commented on #505
![image](https://cloud.githubusercontent.com/assets/565486/12209588/0c0d68dc-b622-11e5-8321-eedb062bf09d.png)

[2016-01-08 21:23] nicolettehayes commented on #593
I was actually using Alec's phone (which had never visited the site before), which is why I ask.

[2016-01-08 21:35] sconnelley commented on #593
Then I don't know.

[2016-01-08 21:36] nicolettehayes commented on #571
I like options 1 and 3 best. Do whichever you like!

I'm still hoping to add some features to the park page at a later date (see #506) in case that impacts your decision at all.

[2016-01-08 22:22] nicolettehayes opened #598 "Change activities map zoom level"
This is a revision to issue #575

Now that the new interaction has been implemented, the activities map feels a little disorienting-- can we switch to a medium zoom when a park is selected? So, centering on the park and auto-zooming only to a level similar to the one shown below:

![screen shot 2016-01-08 at 2 14 42 pm](https://cloud.githubusercontent.com/assets/12550451/12210994/e5306cd2-b612-11e

[2016-01-08 22:34] nicolettehayes opened #599 "Interaction refinement for dots on the map"
if a park dot is ALREADY highlighted on the map, clicking it should link you directly to the park page.

![dot-click3](https://cloud.githubusercontent.com/assets/12550451/12211301/d9ca1d6e-b614-11e5-8556-a7cefe5a01f2.gif)

[2016-01-08 22:47] nicolettehayes commented on #598
Also, after selecting a park from the park search bar, the dot should be selected.

Currently:

![screen shot 2016-01-08 at 2 45 53 pm](https://cloud.githubusercontent.com/assets/12550451/12211541/b0ddf126-b616-11e5-9fcb-f16139befd29.png)

[2016-01-08 23:23] #505 closed, assigned to sconnelley

[2016-01-09 00:36] almccon commented on #523
I made these changes in a68400b05d95c975993c0b23a8c210ba80c7e627.

Non-California land is now #c4c4c4. Water is now #75bfcc, and most water labels are now a 10% darkened version of #359292. @nicolettehayes, for some reason #359292 was looking way too light on my screen.

Bay and cove labels have the same style, and they both have a water-colored halo, instead of a white one. This helps them stand

[2016-01-09 00:39] almccon opened #600 "Water mask is spilling onto land"
I'm not sure where the water mask is coming from. Is this a data error, or a styling error? (Maybe there are lines that are getting a fill applied?)

<img width="688" alt="screen shot 2016-01-08 at 2 34 11 pm" src="https://cloud.githubusercontent.com/assets/1212178/12213017/4cc167bc-b626-11e5-99a1-d7390d58db2b.png">
<img width="215" alt="screen shot 2016-01-08 at 2 32 32 pm" src="https://cloud.git

[2016-01-09 00:40] almccon opened #601 "City label clipping"
<img width="207" alt="screen shot 2016-01-08 at 2 21 09 pm" src="https://cloud.githubusercontent.com/assets/1212178/12213033/7d6ce044-b626-11e5-8354-1b8a0115e601.png">

Needs text-avoid-edges

[2016-01-09 00:41] almccon opened #602 "Suppress "Unnamed site"?"
<img width="419" alt="screen shot 2016-01-08 at 2 04 57 pm" src="https://cloud.githubusercontent.com/assets/1212178/12213043/a087ef56-b626-11e5-9719-1cb18a0d0753.png">

[2016-01-09 00:56] emilyhobson opened #603 "Home page doesn't scroll down on PC as tablet"
Chrome, Version 47.0.2526.106 m, WIN 10; Win Edge
The home page doesn't permit up/down scrolling on a PC. You can navigate using the links and the will scroll but the browser-specific scrolling functionality
![caliparks hp scroll](https://cloud.githubusercontent.com/assets/824082/12213172/b8859a2a-b628-11e5-9601-048a7d1c9262.JPG)
 is missing.

[2016-01-09 00:59] nicolettehayes commented on #523
awesome! thanks alan!!

[2016-01-09 02:46] sethfitz commented on #600
Dammit. Mapnik's multipolygon support has been changing in recent versions. I had to switch an `ST_Collect` to an `ST_Union` (at a significant performance cost) when I last picked this up (`mapnik@3.4.something`).

Which node-mapnik version are you using?

[2016-01-09 02:47] sethfitz commented on #576
Jon was also experiencing this today. I saw some chatter on Slack about it being a known issue, so I'm reopening.

[2016-01-09 02:48] sethfitz commented on #602
Please add that to the regex portion of the blacklist in https://github.com/stamen/parks-forward-map/blob/master/sql/cpad_labels.sql

/cc @sconnelley, since he's using those queries to feed search as well.

[2016-01-09 02:49] sethfitz commented on #601
I think there are some other labels that started clipping when I updated things as well, so keep an eye out in your travels.

[2016-01-09 02:58] sethfitz opened #604 "Sort results in search dropdown"
Possibly by acreage, possibly by number of photos (within some time period).

Spring Lake Regional Park (of which there are 2: [small, Sonoma Land Trust-managed](http://www.caliparks.org/park/25740), [big, Sonoma County Regional Parks](http://www.caliparks.org/park/28940)) is the case I ran into where the order was prioritizing the lesser park.

[2016-01-09 05:00] #576 closed, assigned to sconnelley

[2016-01-09 05:17] sconnelley commented on #602
@mojodna -- Should that blacklist be applied to all park queries as well? For instance, selecting [parks by activity](https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/server/services/queries/activities.js#L23-L40)

[2016-01-09 05:58] almccon commented on #600
Ah yes, I was at node-mapnik 1.4.9 in that repo. Updating...

[2016-01-09 17:46] almccon commented on #600
Now I'm at node-mapnik 3.4.14, and still seeing the same problems.

[2016-01-09 18:08] sethfitz commented on #600
I'm wondering if it might be the `ST_Union` in the water layer or that you're applying a polygon symbolizer to a line feature (coastline, but I don't remember such a layer). Was it doing that prior to the changes you made?

[2016-01-09 20:40] almccon commented on #600
I don't remember noticing it before I made changes, but it's pretty subtle. I  suspect it's always been there on my installation.

Are there materialized views that need rematerializing?

[2016-01-11 16:20] danrademacher opened #605 "Mixed up map results"
Not sure if you guys are tracking this but I noticed some weird stuff where park dots were showing wrong park data:

Shasta trinity not in east bay:
![](http://i.imgur.com/EsMiP4D.jpg)

Monte Bello is on peninsula:
![](http://i.imgur.com/yavF1H2.jpg)

[2016-01-11 18:12] nicolettehayes commented on #605
possibly related to #583 ?

[2016-01-11 21:43] almccon commented on #602
Suppressed in 8e17821b7534f6f3c1daf38629f6d589a6ad5f41. I left it on the `colorchange` branch, but it should be harmless to pull into master.

[2016-01-11 21:43] almccon commented on #602
Link to commit: https://github.com/stamen/parks-forward-map/commit/8e17821b7534f6f3c1daf38629f6d589a6ad5f41

[2016-01-11 21:44] almccon commented on #602
Assigning to @sconnelley to exclude in search queries too.

[2016-01-11 21:53] #584 closed, assigned to sconnelley

[2016-01-11 21:53] sconnelley commented on #578
When with third option from left

[2016-01-11 21:53] #578 closed, assigned to sconnelley

[2016-01-11 21:54] #583 closed, assigned to sconnelley

[2016-01-11 22:06] almccon commented on #601
Hmm... now I can't replicate it locally, neither on retina nor non-retina. I wonder if that was a caching issue.

Closing until I can replicate.

[2016-01-11 22:06] #601 closed, assigned to nobody

[2016-01-11 22:26] almccon commented on #600
Just confirmed that this problem is happening on the deployed map, too. We just haven't noticed it because it's subtle. Investigating.

@mojodna suggests starting with this: https://github.com/stamen/parks-forward-map/commit/9060c8df35f3b341ed0015a5316ba2563c91f6bd

[2016-01-11 23:14] almccon commented on #600
Here's the result of adding a red stroke to the `#water` layer. Looks like something else is causing the spill.

<img width="382" alt="screen shot 2016-01-11 at 3 11 27 pm" src="https://cloud.githubusercontent.com/assets/1212178/12249611/a7199d64-b875-11e5-8382-a1f73dcd65c7.png">

Here's an orange stroke added to `#ocean_fill`. That's the culprit:

<img width="288" alt="screen shot 2016-01-11 at 3

[2016-01-11 23:45] almccon commented on #600
Here's what it looks like if I turn off the `#water` later and show only the `#ocean_fill`. Since the ocean is so coarse (derived from Natural Earth 1:10m), perhaps all of these errors are just glimpses of the ocean creeping on top of the land? There's no land polygon, apparently?
![screen shot 2016-01-11 at 3 42 35 pm](https://cloud.githubusercontent.com/assets/1212178/12250241/51442eb8-b87a-11e5

[2016-01-12 00:15] sethfitz commented on #600
No land polygon, as it wouldn't have matched up with the water. (Water is derived from NHD rather than OSM coastline.)

I'd forgotten about the Natural Earth ocean layer. That exists to provide coastal context north and south of CA (and to fill in areas far off-shore). Perhaps it should be differenced with the water fill (which is a shapefile that gets unioned into the water to fix certain coastal

[2016-01-12 01:27] almccon commented on #600
I couldn't get `water` to load in QGIS, but here's `water_fill` in brown and `ocean_fill` in green:
![screen shot 2016-01-11 at 5 26 51 pm](https://cloud.githubusercontent.com/assets/1212178/12252053/9d2b2f26-b888-11e5-9c1f-412ffdcc405a.png)

[2016-01-12 01:42] sethfitz commented on #600
`ocean_fill` within the areas covered by `water_fill` seems to be the ultimate source of this problem. `water` runs into the coast, but the low res `ocean_fill` is the stuff that leaks over.

[2016-01-12 01:47] almccon commented on #600
Really, we just care about `ocean_fill` in two areas: the far west Pacific, and along the coast north and south of California's borders. Since `ocean_fill` is already chopped up nicely into those little squares, I'm thinking of simply querying for those squares that are west of longitude (something) OR north of latitude (something) OR south of latitude (something).

[2016-01-12 01:50] sethfitz commented on #600
Perfect!

[2016-01-12 02:17] almccon commented on #600
Added this:

[code]

Which results in this:
![screen shot 2016-01-11 at 6 06 21 pm](https://cloud.githubusercontent.com/assets/1212178/12252675/39ffba10-b88e-11e5-8871-dfde07cc473a.png)

When I turn `#water` back on, all the problems are fixed it seems:

![screen shot 2016-01-11 at 6 14 33 pm](https://cloud.githubusercontent.com/assets/1212178/12252809/59c2f230-b88f-11e5-99b9-06d7ffe123eb.png)
![s

[2016-01-12 02:19] almccon commented on #600
Fixed in https://github.com/stamen/parks-forward-map/commit/7bf0b113e7c27a5881a0e08724eab2669374c958

[2016-01-12 02:19] #600 closed, assigned to nobody

[2016-01-12 02:22] sethfitz commented on #600
Yay!

[2016-01-12 02:33] almccon commented on #600
Oops, hang on:

![screen shot 2016-01-11 at 6 32 20 pm](https://cloud.githubusercontent.com/assets/1212178/12253068/c444ddd8-b891-11e5-98ce-e06780c5f4c4.png)

[2016-01-12 02:37] sethfitz commented on #600
Welcome to my hell of many months ago. Conveniently enough, that can be fixed by extending the water mask a bit.

[2016-01-12 02:53] #587 closed, assigned to sconnelley

[2016-01-12 02:55] almccon commented on #600
Or I do this:

[code]

![screen shot 2016-01-11 at 6 54 54 pm](https://cloud.githubusercontent.com/assets/1212178/12253493/d8c82e56-b894-11e5-8139-2e745b83304e.png)

[2016-01-12 03:02] almccon commented on #600
Tweak: https://github.com/stamen/parks-forward-map/commit/64d2ec3675c40438c695f865aa5ab9a5c38221b0

[2016-01-12 03:11] almccon opened #606 "fix seams in water_fill masks"
After removing much of the ocean fill in #600, now there are a few seams visible in the water_fill polygons:

![screen shot 2016-01-11 at 7 10 13 pm](https://cloud.githubusercontent.com/assets/1212178/12253768/20a1393c-b897-11e5-859c-2aa431d623fc.png)
![screen shot 2016-01-11 at 7 09 01 pm](https://cloud.githubusercontent.com/assets/1212178/12253769/20a256f0-b897-11e5-82da-1ac00ce33413.png)

[2016-01-12 03:41] #590 closed, assigned to sconnelley

[2016-01-12 04:07] sethfitz commented on #600
Sneaky, I like it.

[2016-01-12 04:08] sethfitz commented on #606
Ugh, sorry.

[2016-01-12 16:04] #595 closed, assigned to sconnelley

[2016-01-12 16:34] sconnelley commented on #602
All CPAD queries using blacklist

[2016-01-12 16:34] #602 closed, assigned to sconnelley

[2016-01-12 16:55] #599 closed, assigned to sconnelley

[2016-01-12 19:45] #598 closed, assigned to sconnelley

[2016-01-12 20:07] almccon commented on #606
This should do it: https://github.com/stamen/parks-forward-map/commit/0ad67c4111219798f3070f28e5e53e4ca94b9f3a

[2016-01-12 20:07] #606 closed, assigned to almccon

[2016-01-12 20:31] #523 closed, assigned to nobody

[2016-01-12 21:29] nicolettehayes opened #607 "lake name / park name redundancy"
On some lakes and reservoirs, the name appears twice, once as a park label and once labelling the body of water:

<img width="310" alt="screen shot 2016-01-12 at 1 25 43 pm" src="https://cloud.githubusercontent.com/assets/12550451/12277485/58373150-b930-11e5-8457-75802e3e98bb.png">

[2016-01-14 00:47] sconnelley commented on #604
**Explore Page**

[code]

**Activity Page**

[code]

[2016-01-14 00:47] #604 closed, assigned to sconnelley

[2016-01-14 01:27] sconnelley commented on #586
This seems to be fixed but would be good if someone can verify...

[2016-01-14 19:40] #589 closed, assigned to sconnelley

[2016-01-14 19:40] #591 closed, assigned to sconnelley

[2016-01-14 20:11] #586 closed, assigned to sconnelley

[2016-01-14 20:12] #592 closed, assigned to sconnelley

[2016-02-09 18:40] sethfitz opened #608 "Improve photo navigation"
When viewing a park page, I'd like to be able to cycle through the photos efficiently. Ideally using arrow keys on the keyboard, but being able to click next/prev links over the photo itself rather than returning to the photo strip each time to change the active photo.

[2016-02-09 18:45] sethfitz opened #609 ""Link to park site >" isn't a link"
On this rather boring page:

http://www.caliparks.org/park/16138

![image](https://cloud.githubusercontent.com/assets/45/12926860/1bde0fee-cf1a-11e5-944d-7762e5952d38.png)

[2016-02-09 18:48] nicolettehayes opened #610 "Map search functionality"
After searching for a park on the Explore page, that park should be highlighted.

My suggestion would be that zooming into the searched for park has the SAME effect as clicking the "refine search" button, but without having to click it.

Here is a video of the problematic interaction:
![caliparks-search](https://cloud.githubusercontent.com/assets/12550451/12926995/b3826a70-cf1a-11e5-82f6-1fe9dd91c

[2016-02-09 18:50] sethfitz opened #611 "Errors on "most_shared_parks.json""
From Heroku logs:

[code]

Request that triggers it: http://www.caliparks.org/api/most_shared_parks.json?interval=week-now&bbox=-123.0156,38.8073,-123.0051,38.8178&all=1

[2016-02-09 18:52] nicolettehayes commented on #609
Looks like this applies to other parks without activities data as well.

[2016-02-09 18:52] sethfitz opened #612 "Loading park search list failed!"
[code]

Triggered by `http://www.caliparks.org/`

[2016-02-09 18:54] sethfitz opened #613 "robots.txt returns a 500"
[code]

http://www.caliparks.org/robots.txt

[2016-02-09 19:00] sethfitz opened #614 "Map state on homepage isn't persisted to the URL"
(Can't share search results / views into specific parks.)

[2016-02-17 20:05] jimstanley opened #615 "Issue with robots.txt file"
from @mark_kaufman: looks like there is an issue with the calipark.org robots.txt file. I'm getting errors when trying to access it directly and with different SEO tools. http://www.caliparks.org/robots.txt

[2016-02-17 20:16] sethfitz commented on #615
See also #613

[2016-02-22 17:02] sconnelley commented on #609
@mojodna -- maybe i am using the wrong table?

[code]

[2016-02-22 17:05] sconnelley commented on #613
Should there be a `robots.text` file? Or just handle the error?

[2016-02-27 00:10] emilyhobson opened #616 "Loading harmony"
When the index or park detail page loads, the layout changes as the page loads. https://drive.google.com/a/stamen.com/file/d/0B5tBIGe_xercYjZ5SkNjN3k3czQ/view?usp=sharing

[2016-02-28 22:53] sethfitz commented on #609
@sconnelley `activities_raw` is where we want this to come from, I think. That or `activities_raw` as the primary table with `cpad_superunits` as a fallback.

[2016-03-01 22:11] sethfitz opened #617 "Search widgets disappear in Safari on explore"
There should be a search widget here:

![image](https://cloud.githubusercontent.com/assets/45/13443782/905fda84-dfb7-11e5-9992-f23c295ec4e1.png)

[2016-03-01 22:12] sethfitz commented on #617
It initially appears but disappears after scrolling into view.

Resize events cause it to reappear.

[2016-03-01 23:38] sethfitz opened #618 "Multiple search results highlight simultaneously"
E.g. when searching for Anza-Borrego and hovering over any of the "duplicate" (not actually duplicate) results:

![image](https://cloud.githubusercontent.com/assets/45/13445799/4ea1f562-dfc3-11e5-9aa8-0a5990a78c74.png)

[2016-03-08 18:38] emilyhobson commented on #615
This looks like it's fixed, @sconnelley ?

[2016-03-08 18:55] #615 closed, assigned to sconnelley

[2016-03-08 18:57] emilyhobson commented on #497
Extract activities from list?  "backpacking":{"category":"outdoors","label":"backpacking"},
  "ball fields":{"category":"sports","label":"ball fields"},
  "basketball":{"category":"sports","label":"basketball"},
  "biking":{"category":"outdoors","label":"biking"},
  "boardsports":{"category":"water","label":"board sports"},
  "boating":{"category":"water","label":"boating"},
  "camping":{"category

[2016-03-08 19:04] emilyhobson opened #619 "Bing webmaster tools file"
For Bing, if we simply publish the BingSiteAuth.xml file to docroot, that should take care if it.

[2016-03-08 19:06] emilyhobson commented on #611
Fixed

[2016-03-08 19:06] #611 closed, assigned to sconnelley

[2016-03-08 19:07] emilyhobson commented on #613
Fixed

[2016-03-08 19:07] #613 closed, assigned to sconnelley

[2016-03-08 19:08] sethfitz commented on #619
[code]

[2016-03-08 19:09] sethfitz opened #620 "Set up Google Webmaster Tools"
I know nothing. mark_kaufman (on Stamen Slack) knows more.

[2016-03-08 19:10] almccon commented on #497
Looks like I make the change here: https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/public/views/layout.jsx#L68-L69

I'll just improvise some new text.

[2016-03-08 19:14] almccon commented on #497
It looks like this text is generic for the whole site, and isn't customized by park. So how about this:
"Parks are social. See Instagram photos prove that people just like you are using California Parks every day. Visit CaliParks for more info about activities including backpacking, basketball, biking, board sports, boating, camping, fishing, hiking, horseback riding, kayaking, snow sports, swimmi

[2016-03-08 19:21] almccon commented on #619
Like this? 74fd63a8893a8c56ba79f3d96782e9a949fd1ac7

[2016-03-08 19:40] emilyhobson opened #621 "Social media Create Twitter Card for ‘parks’ coming from within California boundary"

[2016-03-09 01:32] almccon commented on #497
Or, I just do a variation of what we have now, with more activities wedged in: "Find parks near you. Select your favorite activities, including backpacking, basketball, biking, board sports, boating, camping, fishing, hiking, horseback riding, kayaking, snow sports, swimming, tennis, and wildlife watching. See park photos from Instagram. Get directions."

[2016-03-09 20:37] mkaufman commented on #497
Hi all, I'm currently working on SEO recommendations for CaliParks, which include meta description tags. For the individual park pages, I recommend something close to the following for the description:

See real-time park photos of [park name] from Instagram. Get information on park activities, view maps and directions, or make reservations.

And I'd change the title tag to:
[Park Name] Photos and

[2016-03-09 20:47] mkaufman commented on #497
If we can programmatically include "make reservations" in the description only on the parks where that is applicable, that would be fantastic. I'm nto sure if people are comfortable claiming "real-time park photos" -- the turnaround time is what, 24 hours, now? If needed, we could say, "See near real-time park photos of [park name] from Instagram. Get information on park activities, view maps and

[2016-03-15 17:54] emilyhobson opened #622 "Add descriptive text to the home page"
For SEO purposes, we will add a text like this (not final) on the home page:
Find out which California parks to head to for your favorite activities.

Please design this into the pae.

[2016-03-15 22:20] emilyhobson commented on #497
Let's make this universal for now and add per-park/per-page detection in other issue.
Title tag: California National, State, Regional & Local Parks - CaliParks
62 char.

Meta Description: Find national, state, county and city parks near you in California. See real-time park photos from Instagram, get information and directions, and make reservations.

[2016-03-15 22:26] emilyhobson commented on #619
@almccon Did you push this?

[2016-03-15 22:27] emilyhobson commented on #497
@ebrelsford See most recent comment and skip over the discussion.

[2016-03-15 22:39] emilyhobson commented on #596
@mojodna Is this resolved?

[2016-03-15 22:55] emilyhobson commented on #620
@mkaufman Can you provide details? Likely just have admins (@seth) create a tools account?

[2016-03-15 22:58] emilyhobson opened #623 "Image alt tags"
- [ ] HOME PAGE: Currently the images featured on the home page lack alt tags.
  Recommendation: Add alt text to the header images:

For example:
Current: <img src="assets/images/header/tahoe.jpg" data-reactid=".2e1bysbva4g.1.0.1.0.$/=10.0.0.0.0.0.1.0.0.0.$-2.0"/>
Recommendation: <img src="assets/images/header/tahoe.jpg" alt=”Lake Tahoe” data-reactid=".2e1bysbva4g.1.0.1.0.$/=10.0.0.0.0.0.1.0.0.0.$

[2016-03-15 23:33] emilyhobson opened #624 "Unique titles, meta description for each page"
Instead of having a universal header, each page should display meta title and meta description specific to the page. They can be consistent and   programmatic.
- [ ] ACTIVITIES PAGE:
- TITLE: Parks for [Activity Name] in California - CaliParks
- DESCRIPTION: Find the best parks near you for [Activity Name] and other activities. See real-time California park photos from Instagram, get directions, a

[2016-03-15 23:38] emilyhobson opened #625 "Modify URL structure"
Improve URL format for SEO. Please size work before starting.

ACTIVITIES:
Current: http://www.caliparks.org/activity/kayakingcanoeing
Recommendation: http://www.caliparks.org/activity/kayaking-canoeing

PARKS
Current: http://www.caliparks.org/park/5656
Recommendation: http://www.caliparks.org/park/griffith-park/ (ideally).
If not possible, http://www.caliparks.org/park/5656/griffith-park/ will wo

[2016-03-15 23:41] emilyhobson opened #626 "FAQ meta content"
Title Tag
Recommendation: CaliParks FAQ – Frequently Asked Questions

Meta Description Tag
Recommendation: Find information and answers to common questions about the CaliParks web site, featuring information on national, state, county and city parks across California.

[2016-03-16 19:15] emilyhobson opened #627 "Home page activities More link"
Consider making “MORE” text clickable in list of Activities. Currently requires clicking on “>”.

[2016-03-16 20:26] emilyhobson opened #628 "homepage teaser text for DISCOVER"
Current: LEARN MORE ABOUT PARKS ACROSS THE STATE
Recommendation: LEARN MORE ABOUT PARKS ACROSS CALIFORNIA

[2016-03-16 20:35] emilyhobson opened #629 "Activities page link - include park name"
<li class="" data-reactid=".24j8iwbiwhs.1.0.0.1.0.3.1.$1423"><span data-reactid=".24j8iwbiwhs.1.0.0.1.0.3.1.$1423.0">Austin Creek State Recreation Area</span><a href="/park/1423" data-reactid=".24j8iwbiwhs.1.0.0.1.0.3.1.$1423.1">&gt;</a></li>

 Include the name of the park in the hyperlink, not just the arrow

[2016-03-16 20:37] emilyhobson opened #630 "Parks URL format"
URL Format
Current: http://www.caliparks.org/park/5656
Recommendation: http://www.caliparks.org/park/griffith-park/ (ideally).
If not possible, http://www.caliparks.org/park/5656/griffith-park/ will work.

Add the park name as a directory in the URL. Use dashes to separate words. 301 redirect the old format URLs to the new format.

[2016-03-16 20:41] emilyhobson opened #631 "Optimize language URL treatment"
- [ ] Use a folder in the URL for Spanish options:
  http://www.caliparks.org/es/
  http://www.caliparks.org/es/park/5656
- [ ]  Mark up the HTML code using hreflang tags for multiple languages. For example, on the home page, include code such as:

[code]
- [ ] If adopting this approach, be sure to use 301 redirects on the old format (hl=en and hl=es) to the new URLs.
- [ ] Also, add canonical lin

[2016-03-17 18:30] ebrelsford commented on #497
@emilyhobson Just to be clear, when I'm updating the title, we want both the `<title>` tag and the `<meta property="og:title" ...>` and `<meta name="twitter:title" ...>` to all match, correct?

[2016-03-17 18:46] ebrelsford commented on #571
@nicolettehayes For both Activity and Park Pages we would want to be able to scroll down to the footer as you can from the home page after the Discover section, right? Using the animated scroll that the home page has? Or did you have something else in mind?

[2016-03-17 18:53] ebrelsford commented on #581
@nicolettehayes I'm having a hard time replicating this. I'll take a look at possible causes but if you know of a park where it consistently happens that would help a lot!

[2016-03-17 19:04] ebrelsford commented on #603
@emilyhobson Is there a Windows 10 machine available I can remote into to test this? Or someone I can bother to test a few things? I can try to solve it without, but that would make it a lot easier.

[2016-03-18 22:48] sethfitz commented on #619
I just pushed this.

[2016-03-18 22:48] #619 closed, assigned to nobody

[2016-03-21 13:37] #588 closed, assigned to ebrelsford

[2016-03-21 19:52] emilyhobson opened #632 "Google Webmaster tools file, take 2"
Add a new file to replace the one in #620 with the following:
googled680f00dad5fb632.html

[2016-03-21 22:53] nicolettehayes commented on #629
Clicking on "austin creek state recreation area" causes the map to zoom to that park, whereas clicking the > is a direct link off of the page to the park page itself. If we make the full text also jump you off of the activities page, you render the map useless.

![cali-activityclick](https://cloud.githubusercontent.com/assets/12550451/13936730/ecf1e218-ef7c-11e5-925f-08a0c26a931d.gif)

[2016-03-21 22:57] nicolettehayes commented on #571
Sure, full page scroll (in its truncated footer version) could be implemented on the activity and park pages. I don't see it as 100% necessary (since they are pretty simple pages), but it would be great for overall continuity/sleekness.

[2016-03-21 22:59] almccon commented on #632
Deployed: http://www.caliparks.org/googled680f00dad5fb632.html

[2016-03-21 22:59] #632 closed, assigned to nobody

[2016-03-21 23:06] nicolettehayes commented on #581
Well. I went back to Jack London and clicked a gazillion times, and it happened again. I am using Chrome Version 48.0.2564.116 (64-bit), if that's helpful:

![screen shot 2016-03-21 at 4 01 25 pm](https://cloud.githubusercontent.com/assets/12550451/13936947/9671d838-ef7e-11e5-8cba-00e61a19146e.png)

[2016-03-21 23:08] nicolettehayes commented on #581
To be exact: clicked the right arrow 39 times, and it jumped down.

[2016-03-21 23:09] nicolettehayes commented on #581
I tried at a smaller browser width, and it broke at 39 clicks as well. The arrow still works, but it changed locations:
![screen shot 2016-03-21 at 4 09 14 pm](https://cloud.githubusercontent.com/assets/12550451/13937034/5934f512-ef7f-11e5-9f7b-ff436f378a7a.png)

[2016-03-21 23:25] ebrelsford commented on #581
Got it, thank you @nicolettehayes!

[2016-03-22 04:55] #581 closed, assigned to ebrelsford

[2016-03-22 16:48] ebrelsford commented on #585
I have a fix for this (mostly making the header and image carousel larger on the home page) once stamen/react-fullpage#1 is merged.

[2016-03-22 17:14] #623 closed, assigned to ebrelsford

[2016-03-22 18:05] ebrelsford commented on #603
@emilyhobson I got access to a Windows 10 virtual machine and have tested in both IE11:

![win10_ie11](https://cloud.githubusercontent.com/assets/375002/13962333/d3fcddac-f036-11e5-9ead-57b4d7035d89.gif)

and Chrome (latest: 49.0.2623.87):

![win10_chrome](https://cloud.githubusercontent.com/assets/375002/13962344/dc635fe8-f036-11e5-8950-daa7cf0b4205.gif)

Using the latest build of the site they'r

[2016-03-22 18:58] #610 closed, assigned to ebrelsford

[2016-03-23 03:55] #609 closed, assigned to ebrelsford

[2016-03-23 03:58] ebrelsford commented on #609
My understanding is that the url in `activities_raw` is only for camping reservations. Lots of parks in `cpad_superunits` don't have anything in `park_url` (~90%), but that's the only place I'm seeing a general url for a park. So for now 8fd50c0 hides the link if there is no url to link to.

[2016-03-23 04:12] ebrelsford commented on #497
Going with changing all the title-related tags for now, let me know if you'd like them to be different somehow.

[2016-03-23 04:12] #497 closed, assigned to ebrelsford

[2016-03-23 16:22] jimstanley opened #633 "Fix Sunset.com embed for SEO benefit"
The embedded heat map on sunset.com no longer works: http://www.sunset.com/travel/outdoor-adventure/california-parks:

Sunset.com embeds http://www.caliparks.org/embed/park?id=14224&directions=true&locatorMap=true&instagram=true&activities=true&social=true&with=14224,5656,10900,14310,14042,14267,14005,10430,10235,14108

[2016-03-23 17:06] ericrodenbeck opened #634 "Make stateful URLs for selected images"

[2016-03-23 17:07] ericrodenbeck opened #635 "Stop the thing where the giant background image shows up first and then everything leaps into place around it every time a park page loads"

[2016-03-23 17:19] emilyhobson commented on #603
@ebrelsford I'm seeing a very strange effect of scrolling w/in each section which doesn't seem like expected behavior. You're looks correct.

Chrome Win10

![image](https://cloud.githubusercontent.com/assets/824082/13994145/aec79004-f0e0-11e5-9d26-0a4f3b54e34a.png)

[2016-03-23 17:35] emilyhobson commented on #633
Please 301 redirect
 http://www.caliparks.org/embed/park?id=14224&directions=true&locatorMap=true&instagram=true&activities=true&social=true&with=14224,5656,10900,14310,14042,14267,14005,10430,10235,14108
to:
http://www.caliparks.org/#explore

[2016-03-23 20:07] emilyhobson opened #636 "Find a park search in Safari (Mac)"
Another bug: In Safari, the "Find a park" search field, "Refine Search Area" button, and button to zoom in on my location disappear from the map after the initial page load. This is not the case in Chrome.

cc @mkaufman

[2016-03-23 20:09] emilyhobson commented on #636
![image](https://cloud.githubusercontent.com/assets/824082/13999212/70002206-f0f8-11e5-802f-c662af6d2dd0.png)

[2016-03-23 20:09] emilyhobson commented on #617
dup to #636

[2016-03-23 20:09] #617 closed, assigned to nobody

[2016-03-23 20:11] emilyhobson commented on #616
Duplicate to #635

[2016-03-23 20:11] emilyhobson commented on #635
duplicate

[2016-03-23 20:11] #635 closed, assigned to sconnelley

[2016-03-23 20:11] emilyhobson commented on #616
"Stop the thing where the giant background image shows up first and then everything leaps into place around it every time a park page loads #635"

[2016-03-24 00:33] #620 closed, assigned to nobody

[2016-03-24 19:27] #603 closed, assigned to ebrelsford

[2016-03-24 19:28] ebrelsford commented on #585
@nicolettehayes I've made some changes that are on staging, mind checking that they are along the lines you were thinking when you get a chance?

[2016-03-24 20:46] nicolettehayes commented on #585
This is so great! Much, much better mobile experience for my tiny phone.

The only thing that stands out to me as unexpected, is how small the maps still appear on the Discover and Explore pages. Could we make them match the sizing of the park page map?

So this map:
![screen shot 2016-03-24 at 1 45 12 pm](https://cloud.githubusercontent.com/assets/12550451/14030778/b6b082bc-f1c6-11e5-8971-d267231

[2016-03-28 16:54] #585 closed, assigned to ebrelsford

[2016-03-29 15:04] ebrelsford opened #637 "Activity links from park pages don't work"
For example, go to [this park](http://www.caliparks.org/park/14224), click any of the activity buttons. The URL changes but as the component tries to unmount it gets to [this line](https://github.com/stamen/caliparks.org/blob/parksforward-redesign/app/public/lib/socs.js#L85) and fails because the event listener is not passed to `removeEventListener`.

[2016-03-29 15:24] ebrelsford commented on #571
@nicolettehayes I just committed a change that will make the photos section of the park page larger (option 1).

I'm afraid I don't understand the part about the footer ("When I resize I see a peek of it at the bottom, but can never scroll to it"). I can scroll the page down to see the footer with the scroll bar on the activity page. Is this not working for you? Or do you mean you'd like the foote

[2016-04-01 17:42] mkaufman opened #638 "Create XML Sitemaps"
Create an XML sitemap file that contains all site pages to assist web crawlers in discovering all the pages of the site. Submit the files to Google and Bing (although Mark Kaufman can do that once the files are created. Just let him know - mark.kaufman71@gmail.com). More info:

http://www.sitemaps.org/protocol.html
https://support.google.com/webmasters/answer/156184?hl=en
https://www.bing.com/webm

[2016-04-01 17:45] mkaufman opened #639 "Copy tweak on home page - addition of "California""
Change "Find out which parks to head to for your favorite activities." to "Find out which California parks to head to for your favorite activities."

[2016-04-01 17:46] mkaufman opened #640 "Home page title and meta description"
Title Tag
Current Title: Caliparks
Recommendation: California National, State, Regional & Local Parks - CaliParks

Meta Description Tag
Current Meta Description: Find parks near you. Select your favorite activities, from basketball to rock climbing. See park photos from Instagram. Get directions.
Recommendation: Find national, state, county and city parks near you in California. See real-time park

[2016-04-01 17:47] mkaufman opened #641 "Add alt text to images on Home Page"
Currently the images featured on the home page lack alt tags.
Recommendation: Add alt text to the header images:

For example:
Current: <img src="assets/images/header/tahoe.jpg" data-reactid=".2e1bysbva4g.1.0.1.0.$/=10.0.0.0.0.0.1.0.0.0.$-2.0"/>
Recommendation: <img src="assets/images/header/tahoe.jpg" alt=”Lake Tahoe” data-reactid=".2e1bysbva4g.1.0.1.0.$/=10.0.0.0.0.0.1.0.0.0.$-2.0"/>

Other alt

[2016-04-01 17:50] ebrelsford commented on #640
Duplicate of #497.

[2016-04-01 17:50] #640 closed, assigned to ebrelsford

[2016-04-01 17:51] ebrelsford commented on #641
Duplicate of #623

[2016-04-01 17:51] #641 closed, assigned to ebrelsford

[2016-04-01 17:53] mkaufman opened #642 "Copy fix in FAQ"
The first FAQ entry states, “Caliparks.org is a web app that puts all 11,826 California State Parks at your fingertips.”  This should  be, “CaliParks.org is a web app that puts all 11,826 national, state, regional and local parks in California at your fingertips.”

[2016-04-01 17:59] mkaufman opened #643 "Scope improvements to Google's Mobile-friendliness and Page Load Time scores"
Would like to know the effort to make Google's recommended changes to improve Mobile-friendliness and Page Load Time scores, particularly those marked as "Should Fix".

Home Page
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.caliparks.org
**Mobile Speed Score: 62 / 100**
Should Fix:
_Eliminate render-blocking JavaScript and CSS in above-the-fold content
Leverage brow

[2016-04-01 18:12] mkaufman opened #644 "Change status code of "soft" 404's"
4/7 UPDATE: In further conversation: **decided to 301 redirect these stories to the home page**, to maintain the link authority passed to these pages from any external links. In general, if the page is not found, would be good to serve 404, but since these are a legacy page type, will 301 redirect them instead.

It looks like we are serving 200 status codes for some pages not found. e.g. http://ww

[2016-04-02 00:53] nicolettehayes commented on #571
This looks great! And it's been a long time since I was unable to scroll to the bottom of the activity page, so this seems ready to close!

[2016-04-02 20:52] #571 closed, assigned to ebrelsford

[2016-04-05 00:08] emilyhobson commented on #596
@mojodna Is this resolved?

[2016-04-05 00:40] nicolettehayes commented on #574
Here are the versions for the improved park page (not yet implemented):

![caliparks-0923-rev_embed large](https://cloud.githubusercontent.com/assets/12550451/14268058/b30b53da-fa8b-11e5-9d58-374726b90cb3.png)
![caliparks-0923-rev_embed small](https://cloud.githubusercontent.com/assets/12550451/14268059/b31dd2ee-fa8b-11e5-8742-bde2e832d8f3.png)

And here are the embed versions for the existing par

[2016-04-05 00:46] emilyhobson commented on #574
[LOE based on discussion 1/26/2016 ](https://docs.google.com/a/stamen.com/document/d/1quVANiyj9iE3-2oCAFEJgGDdb9RHUF3b0Bj8Cqnf1Rs/edit?usp=sharing)

[2016-04-05 15:28] sethfitz commented on #596
Yes.

[2016-04-05 15:28] #596 closed, assigned to nobody

[2016-04-07 13:38] ebrelsford commented on #642
@mkaufman should all references to "Caliparks.org" have the "p" capitalized ("CaliParks.org")? There are other instances in the FAQ of "Caliparks.org".

[2016-04-07 13:45] #639 closed, assigned to ebrelsford

[2016-04-07 14:35] #636 closed, assigned to ebrelsford

[2016-04-07 17:27] emilyhobson commented on #624
Adding @mojodna

[2016-04-07 17:46] sethfitz commented on #644
@ebrelsford the old list of "stories" lives here (for seeding `redirects.js`): https://github.com/stamen/caliparks.org/blob/parksforward/config/stories.json

`slug` is the part under `/parks/story/<slug>`

[2016-04-07 17:52] ebrelsford commented on #624
@mojodna My approach has been to move toward using something such as [react-helmet](https://github.com/nfl/react-helmet) to unify how the `meta` and `title` elements are handled on each page. In theory you render the route to a string then `helmet` knows all the proper values to add.

This part seems straightforward enough but I'm just not sure how to integrate it with `react-engine`.

[2016-04-07 18:26] sethfitz commented on #624
If you don't mind beating your head against it for a while (no concussions), do it. I'm happy to provide extra eyes if you want to pair on it at some point.

[2016-05-12 22:57] sethfitz opened #645 "Replace Google Maps API / Adjust credits + branding"
with...Leaflet? OL3?

Now that we're no longer using StreetView (for trails) or directions, there's no reason to use the Google Maps API. This is mainly an annoyance because of the branding confusion it introduces.

[2017-02-08 16:56] gregallensworth opened #647 "Tracking transfer of ownership of app and components"
In the transfer of ownership from Stamen to GreenInfo, the following assets will need to be considered:

- [x] the *caliparks-production* Heroku app
- [x] the Github repository (not a fork, the actual/original one)
- [x] domain name *caliparks.org* from current registrar to GIN's ownership + registrar
    - [x] screenshot of current zone settings (As  + CNAMEs)
    - [x] transfer of domain to Gree

[2017-02-08 17:02] gregallensworth commented on #647
Tagging @danrademacher and @sconnelley

[2017-02-15 22:37] danrademacher commented on #647
Where did we leave this -- looks like domain and amazon database are major TODOs?

[2017-02-21 20:46] gregallensworth commented on #647
Domain transfer did indeed complete a few days ago (Feb 16) and the changeover was so seamless we didn't notice.

[2017-02-22 17:20] gregallensworth opened #648 "Wander function not working"
The *Wander* link is not working.

Seems the API is trying to find a random park which had a photo within the last month:

https://github.com/GreenInfo-Network/caliparks.org/blob/a15ab39d386b3a087072ea889c3c782631b28971/app/server/server.js#L354

See what could be done to remove the "last month" filter, and return a random park? Performance shouldn't be bad.

Though Sean follows up, that perhaps i

[2017-02-22 17:23] gregallensworth opened #649 "Park info view: links to activities not working"
http://www.caliparks.org/park/14224

Click an activity icon, which should link to the same target as the Explore activities. The URL changes in the address bar, but it doesn't actually change over.

Dan pasted this link, which may be relevant:
https://github.com/GreenInfo-Network/caliparks.org/blob/250a781e5ed98a3e1f39e71394f3d1c79a6fcb06/app/public/routes.jsx

[2017-02-22 17:32] gregallensworth commented on #649
Duplicate of #637

[2017-02-22 17:33] gregallensworth commented on #637
Rephrase copied from 649:

http://www.caliparks.org/park/14224

Click an activity icon, which should link to the same target as the Explore activities. The URL changes in the address bar, but it doesn't actually change over.

Dan pasted this link, which may be relevant:
https://github.com/GreenInfo-Network/caliparks.org/blob/250a781e5ed98a3e1f39e71394f3d1c79a6fcb06/app/public/routes.jsx

Sean has

[2017-02-22 17:35] sconnelley commented on #648
I probably meant to use the interval option but never got around to implementing it, sorry :-(

[2017-02-22 17:38] sconnelley commented on #648
The "wander" button on the home page actually routes to "/wander" then redirects to parks page.
https://github.com/GreenInfo-Network/caliparks.org/blob/a15ab39d386b3a087072ea889c3c782631b28971/app/server/server.js#L224-L232

[2017-04-01 15:15] danrademacher commented on #649
Dupes #637

[2017-04-01 15:15] #649 closed, assigned to nobody

[2017-04-01 15:16] danrademacher commented on #616
Closing as dupe

[2017-04-01 15:16] #616 closed, assigned to nobody

[2017-04-01 15:17] #230 closed

[2017-04-01 15:17] #244 closed

[2017-04-01 15:17] #245 closed

[2017-04-01 15:17] #325 closed

[2017-04-01 15:18] #348 closed

[2017-04-04 20:14] clhenrick commented on #648
Currently it's not even hitting the express route as it's missing a route in `routes.jsx`: https://github.com/GreenInfo-Network/caliparks.org/blob/a15ab39d386b3a087072ea889c3c782631b28971/app/public/routes.jsx#L12-L27

[2017-04-04 22:00] clhenrick commented on #648
Actually I see it doesn't need a route, as the Nav component creates the link. Slightly confusing that routes for `/discover` and `/explore` point to the 404 page and that `/wander` was missing from `Routes.jsx`. The first two should probably redirect to the home page as `/#discover` and `/#explore`, although when you refresh the page with either of those in URL it doesn't scroll to the correct se

[2017-04-10 21:54] clhenrick opened #650 "Mega FOUC"
Wondering why [the header images are sent to the client before anything else is](https://github.com/GreenInfo-Network/caliparks.org/blob/parksforward-redesign/app/server/server.js#L127-L144)? This results in a mega FOUC. Perhaps there was rationale for this that I'm not currently aware of.

@mojodna @sconnelley any insights to this?

[2017-04-10 21:58] clhenrick opened #651 "Server side rendering?"
Relating to #650 was server-side rendering ever considered?

The way React Router is currently being used seems odd, as the routing seems to be handled by Express, not React Router. If the initial app state were rendered server side then React Router could handle the routing, the app would be a SPA, Express would be used solely as an API and _not_ for routing.

On the other hand if the express rou

[2017-04-12 22:14] clhenrick opened #652 "Double check db queries for security vulnerabilities"
@gregallensworth you're good at spotting these types of things so figured it might be good for you to take a look. I looked briefly but don't recall seeing param checking for the API endpoints which are passed to the db.

[2017-04-13 17:41] gregallensworth commented on #652
### parks.js    parksNotIn()

Noted that *photoCount* is unpacked from `options` but is never used, as well as never supplied.

Action taken:
* Removed this line.

### parks.js    mostSharedParks_OLD()

*This is obsolete and not used, having been replaced with a fixed table of top ten most-shared parks ever. Checking anyway should it be brought back into service.*

Confirmed that `datesForTime()`

[2017-04-13 17:53] #652 closed, assigned to gregallensworth

[2017-04-17 13:06] danrademacher commented on #648
I just tried this on live site and I'm still getting 404 when I click on or load http://www.caliparks.org/wander

Does this fix still need to be deployed?

[2017-04-17 15:15] clhenrick commented on #648
Don't think I pushed the fix to the production server, will do that later
today.

-Chris
clhenrick.io

On Mon, Apr 17, 2017 at 6:07 AM, Dan Rademacher <notifications@github.com>
wrote:

[2017-04-20 17:23] #648 closed, assigned to clhenrick

[2017-04-21 04:42] clhenrick commented on #651
Server side rendering was implemented using the "react-engine" library which allows for coordination between routes in both React Router and Express. Noting that this set up doesn't lend the app to  a universal / isomorphic app as full page reloads are required when changing routes or language / locales.

Some of the dependencies probably could be upgraded, (e.g. React, React Router, React Engine,

[2017-04-21 16:52] clhenrick commented on #647
To add to the list: A couple of the project's dependencies, React Slick Carousel and React Fullpage, were forked to the Stamen org from their original owners. The project is still pointing to those in the app's `package.json`. We should fork these to the GreenInfo org as it's likely we will need to do updates to them in the future.

[2017-04-21 21:20] clhenrick commented on #650
On the individual park pages (`/park/:id`) this appears to be caused by the delay in loading a selected park's GeoJSON boundary and related images. For large / complex park boundaries such as National Forests, this can take a while, 13 seconds on a fast internet connection even! However I noticed that subsequent loads after clearing my browser cache were much faster.

My suspicion is that the serv

[2017-04-21 21:22] clhenrick opened #653 "Enable SSL on production server"
We need to have SSL on the production Heroku server so that the Geo Location API can be enabled.

Relating to that, it seems that the "Locate Me" feature in the map's main page doesn't load centroids for parks within the map view.

[2017-04-21 21:25] clhenrick opened #654 "Use Proximo add on with Heroku for static IP Addresses"
As an extra security precaution setting the dev and production servers' IP address to static ones would be an added security measure for the database. Currently those servers' IP addresses change so can't be whitelisted from AWS.

Taking a quick look it seems like Heroku's Proximo add on should do the trick: https://devcenter.heroku.com/articles/proximo

[2017-04-21 21:53] gregallensworth commented on #653
Enabling it on development was one click via the Dashboard.
https://caliparks-development.herokuapp.com/

So that's one item down.

[2017-04-21 22:09] clhenrick commented on #653
What did you do to enable it? Looks like it's set to "auto" and that it should be enabled automatically as we are using a paid dyno, but SSL is currently not enabled.

![screen shot 2017-04-21 at 3 07 51 pm](https://cloud.githubusercontent.com/assets/161748/25297688/527efd64-26a4-11e7-8778-9006a08f90b7.png)

[2017-04-21 22:38] gregallensworth opened #655 ""Showing parks with the highest Instagram activity." not translated"
* Use the site "En Espanol" per the bottom link.
* Scroll into the Explorar section.
* Note that the English text "Showing parks with the highest Instagram activity." is present. When I made the wording change I was not aware of the language translation handling.

[2017-04-21 23:45] gregallensworth commented on #653
Got this set up:     https://www.caliparks.org/

Last step: change the URL forwarding which enforces the use of a canonical URL, to use the HTTPS version.

[2017-04-24 15:17] gregallensworth commented on #653
The domain service won't be able to do a redirect when a browser requests *www.caliparks.org*  This being a proper hostname pointing to Heroku, the request bypasses Dreamhost's redirect service.

As such, you'd need to alter the code to detect that HTTPS was not in use. Note that Heroku uses proxies for the routing and HTTP, so you'll want to check `req.headers['x-forwarded-proto'] != 'https'`

[2017-04-24 15:25] gregallensworth commented on #654
Reading up on Proximo. The wrapper is noted not to work with Node (nor PHP nor Java). For those it merely provides a HTTP proxy so one may code individual HTTP requests. This latter possibility is not applicable here as it's our PostgreSQL traffic we would want wrapped.

Will see what else exists.

[2017-04-24 15:37] gregallensworth commented on #654
This looks as if it would be suitable. Includes example code for wrapping the database (MySQL in their example) with the SOCKS library.

https://devcenter.heroku.com/articles/quotaguardstatic#accessing-a-mysql-database-using-socks-proxy-in-node-js
https://elements.heroku.com/addons/quotaguardstatic

[2017-04-24 15:51] #655 closed, assigned to gregallensworth

[2017-04-24 15:52] gregallensworth commented on #655
Fixed here in repo, and visible on Development
http://caliparks-development.herokuapp.com/#explore

[2017-05-23 19:42] gregallensworth commented on #647
Changing owner to Chris, to track the forking of those other dependencies.

[2017-07-12 18:17] danrademacher commented on #645
Replace with latest Leaflet.

[2017-07-12 18:18] #647 closed, assigned to clhenrick

[2017-07-12 18:47] danrademacher opened #656 "CPAD update"
We need to do it. Will work on figuring out how. Reaching out to @mojodna on Slack.

[2017-07-12 18:47] danrademacher commented on #656
Major issue is migrating Super Unit IDs

[2017-07-12 22:20] gregallensworth commented on #645
I have confiirmed that Leaflet is known not to work with server-side rendering. which this application is. This is a longer-standing issue, noted on other projects. I tried and found not workable, various approaches including loading react-leaflet async in componentDidMount(), and other folks' libraries such as leaflet-react-universal.

* Option: Just add better credits

If the largest issue is br

[2017-07-13 16:41] gregallensworth opened #657 "Update package.json to specify node version 4.8.4"
Heroku announced a vulnerability in Node 4.8.x today
https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/

A patch came out today for 4.8.4 which corrects this. I see that `package.json` specifies engines `>=4.1 <5` which does indeed resolve to the latest 4,.x which would become 4.8.4 at the next reboot.

Make some change and then re-deploy, so as to trigger it to reboot the dynos

[2017-07-13 17:00] #657 closed, assigned to gregallensworth

[2017-07-13 18:39] gregallensworth commented on #645
I have a first cut up at http://caliparks-development.herokuapp.com/#explore

This appears on all maps.

* Adheres to existing dark style, off-white text.
* Right-aligned and height-matched to +- zoom control. Could instead align left and height-match to GPS icon, significantly smaller.
* I didn't have a logo with white linework, so the black may be a bit dark. Could see about adjusting in GIMP.

[2017-07-13 19:30] gregallensworth commented on #645
How about this?

http://caliparks-development.herokuapp.com/#explore

Much smaller initial footprint, expanding into a smaller version of the previous version. Also, GIN logo is now white.

![credits-expanded](https://user-images.githubusercontent.com/3117633/28184140-fd7d4a5a-67c6-11e7-9829-6afed471af83.png)

![credits-collapsed](https://user-images.githubusercontent.com/3117633/28184141-fd87ccaa

[2017-07-13 21:19] danrademacher commented on #645
Ship it!

[2017-07-13 22:50] gregallensworth commented on #645
https://www.caliparks.org/#explore

Done.

[2017-07-13 22:50] #645 closed, assigned to gregallensworth

[2017-07-13 22:52] danrademacher commented on #656
OK, Seth's generally on board to help with this some time in next 6 weeks. Will work out timing after I'm back in town (off most of next week)

[2017-09-07 15:32] danrademacher commented on #656
Notes from @mojodna based on work last night (pulled from Slack DMs — forgot we are all on this repo!)

--------
Superunits Added should be split into:
Superunits Added and Superunits Renumbered

why do superunits get renumbered when their name, manager, or access changed (but not split or merged)? that seems like it’s effectively the same as having the geometry modified.

Superunits added - updat

[2017-09-07 16:54] danrademacher commented on #656
@mojodna interesting to consider the possibility of spatial joins as obviating the need for IDs in many cases. Back to the future!

huh, this is interesting:

Not sure how feasible that is within current overall structure.

[2017-09-08 19:18] gregallensworth commented on #656
I have updated the CPAD changelog generator, to accommodate this. The Superunits Changed and Units Changed worksheets, will now report *acres* and *geometry* field changes separately (it was intended to report `park, fieldname, changedetails` for each change noted).

The *geometry* change-finder detects old-contains-new and new-contains-old conditions and reports them as such, and will report "cha

[2017-10-25 23:24] gregallensworth opened #658 "Park supplemental content from OuterSpatial"
Let's read in some content from OuterSpatial and merge it into the parks data and park-details UI.

Visual mockup is below. Details and thought-
![caliparks_enhancedparkview_outerspatial_20170917](https://user-images.githubusercontent.com/3117633/32027969-e4a918ac-b9a0-11e7-8515-17a59c40577c.png)
sketches in further comments.

CCing @danrademacher as my point of contact

[2017-10-25 23:41] gregallensworth commented on #658
Documentation has been provided as to the OuterSpatial V2 API. It uses OAuth2 to generate a token, and this is included as a `Authorization: bearer` header in subsequent requests. I don't see any significant hurdles there.

Looking into the Details feed as documented, it looks as if this output contains most/all of what is needed (followup will confirm/deny this). Specific items are as follows:

-

[2017-10-27 15:26] gregallensworth commented on #658
Status:

* Scraper is working just fine, updating a new DB table. The OUTERSPATIAL.md document describes this in detail.

* Content is present in park details page, and looking up to spec.

To do:

* Desktop behavior. Looks great on mobile. Desktop's columnar layout uses floats, so there'll be some fussing involved in getting this to fit into place.

* Accordion effect to expand/collapse sections.

[2017-10-27 18:16] gregallensworth commented on #658
Latest round creates responsive desktop/mobile behavior, and adds expand/collapse effect to the OS sections.

[2017-10-27 20:42] gregallensworth commented on #658
f311e87 adds photos: cronjob parsing and HTML stowage. joining to CPAD content, display as a Slick carousel.

The **small_square** image is chosen, for best functionality on both mobile and desktop -- gives the best loading times and data usage, as well as nice carousel-style scrolling much as the slider below.

Using the **medium_square** version *can* fit well if your screen size is just right:

[2017-10-31 20:30] danrademacher commented on #658
@gregallensworth not sure if this is related, but it looks like the park page is sometimes not loading first IG image in upper right:
gregallensworth [11:20 AM]
http://caliparks-development.herokuapp.com/park/1443
http://caliparks-development.herokuapp.com/park/1652

![image](https://user-images.githubusercontent.com/1423200/32247402-731b925c-be3f-11e7-8d08-6d83742b0e36.png)

But this one works:

[2017-10-31 21:29] gregallensworth commented on #658
It was doing that before, and does it on the live site as well. This should be a separate issue.

[2017-10-31 21:49] danrademacher opened #659 "Missing featured IG photos, sometimes"
the park page is sometimes not loading first IG image in upper right:
gregallensworth [11:20 AM]
http://caliparks.org/park/1443
http://caliparks.org/park/1652

![image](https://user-images.githubusercontent.com/1423200/32247402-731b925c-be3f-11e7-8d08-6d83742b0e36.png)

But this one works:

http://caliparks.org/park/1624

[2017-10-31 21:51] danrademacher commented on #659
Well, looks like these are 404ing:
![image](https://user-images.githubusercontent.com/1423200/32250769-0569be58-be4b-11e7-88ff-690cc1451a33.png)

[2017-10-31 21:53] danrademacher commented on #659
Hmm, I wonder if there was a fix in here that never got merged in?
https://github.com/GreenInfo-Network/caliparks.org/pull/470

[2017-10-31 21:53] danrademacher commented on #659
Maybe @mojodna remembers that old PR! (https://github.com/GreenInfo-Network/caliparks.org/pull/470)

[2017-10-31 22:22] danrademacher commented on #658
For events, how do we exclude past events?

Like this:
![image](https://user-images.githubusercontent.com/1423200/32251683-4fbef26c-be4f-11e7-9e56-0cc42e2bb0a5.png)

[2017-10-31 23:14] sethfitz commented on #659
I still think #470 is a good idea, but it never got merged because we were arguing about CSS background images (which can't collapse because the spacing is independent from the content) vs. `img` tags (which can and have `onerror` props).

[2017-11-01 18:52] gregallensworth commented on #658
Good catch. Thank you. I had presumed that could be done by the API, but was clearly mistaken.

73d9181 -- Events are now sorted with earliest first. Events dated in the past are skipped.

[2017-11-09 18:42] gregallensworth commented on #658
New OuterSpatial content, deployed live.

Those with OS content show it:
https://www.caliparks.org/park/1624
https://www.caliparks.org/park/1652
https://www.caliparks.org/park/1443

Those without OS content, are same as ever:
https://www.caliparks.org/park/1496

[2017-11-09 19:02] gregallensworth commented on #658
Scheduler set up, and confirmed working. OuterSpatial content will be updated each day.

[2017-11-09 19:03] ryanbranciforte commented on #658
@gregallensworth Looks like the More Info link is broken on Mt San Jacinto
https://www.caliparks.org/park/1652
Goes to this page - https://www.caliparks.org/park/www.parks.ca.gov/msjsp

Others look good.

[2017-11-09 19:15] gregallensworth commented on #658
I'm not seeing that behavior on any of the computers here. I see that the link is properly formed (starts with *http://*) and opens to the CA Parks website. Maybe we can discuss and debug via private message?

[2017-11-09 19:21] gregallensworth opened #660 "Check for parks where "Link to Park Site" is malformed"
Checking on a different report, I see that not all park URLs in CPAD are properly formed starting with *http://*  As a result, their "Link to park site" link is malformed and goes nowhere useful.

This would be a data fix in the CPAD content, *and/or* a workaround in `getSelectedPark()` to patch bad URLs.

[code]

In one case, the *park_url* points back to Caliparks and also contains a typographic

[2017-11-09 19:28] ryanbranciforte commented on #658
@gregallensworth Checked with staff, and someone went in and updated the link in OuterSpatial Manager, and it appears to have resolved the problem. All good.

[2017-11-09 19:33] gregallensworth commented on #660
Data updates done.

* Veterans, changed to official park page at *www.poway.org*
* River Village, URL had changed at *santa-clarita.com* so link changed to simply *http://www.santa-clarita.com*
* other 3 cases, simply added *http:*

[2017-11-09 19:33] #660 closed, assigned to gregallensworth

[2017-11-14 22:44] danrademacher commented on #658
Looks like some issue where future events are not always appearing:

![image](https://user-images.githubusercontent.com/1423200/32808995-030ad7c8-c94a-11e7-9b22-120efb03154d.png)

On Nov 18. And here's our page, https://www.caliparks.org/park/1652.

No events section:
![image](https://user-images.githubusercontent.com/1423200/32809049-3efd1566-c94a-11e7-8161-2d3a791d6a88.png)

Is this an issue on

[2017-11-14 22:59] ryanbranciforte commented on #658
Let us know what you discover. If it's an API endpoint issue, we'll get on it right away.

[2017-11-14 23:25] gregallensworth commented on #658
I have been parsing the **primary_events** content for events, but was not aware of the **attached_events** structure. Looking at **attached_events** I do see 4 events which are being missed: Hubble, Geologic Story, Winter Essentials, and Round Valley.

I will work on integrating the **attached_events** content into the events output.

[2017-11-14 23:34] gregallensworth commented on #658
The **attached_events** structure is identical to the **primary_events** structure, so it was very little work to merge these two structures to combine their events.

![image](https://user-images.githubusercontent.com/3117633/32810759-47516788-c951-11e7-9af0-7c5a067ea5f6.png)

[2017-11-14 23:38] ryanbranciforte commented on #658
👍

[2017-11-15 00:15] #658 closed, assigned to gregallensworth

[2017-11-15 19:09] ryanbranciforte commented on #658
@danrademacher @gregallensworth Are you guys seeing the event on the San Jacinto page? I saw it yesterday after Greg made the update, but was demoing this to another pilot park and noticed it is not there today.

https://www.caliparks.org/park/1652

![screen shot 2017-11-15 at 11 08 22 am](https://user-images.githubusercontent.com/2602563/32855051-7379a31c-c9f5-11e7-8fda-d4fca27dd95b.png)

[2017-11-15 19:54] gregallensworth commented on #658
Sorry about that. I didn't push the updated cronjob to production in time for the Scheduler run to catch the updated version. The Scheduler ran the old one, which didn't support *attached_events*

* I have deployed to production, and the next Scheduler run will continue to pick up *attached_events*
* I manually ran the task as well, loading the events without waiting until tonight

[2017-11-15 19:57] ryanbranciforte commented on #658
Looks good on my end!

[2017-12-01 18:16] gregallensworth commented on #656
I merged in PR 661 a few days ago. Thank you very much, mojodna.

I came up with a clear and now documented, backup and restore procedure for the database, as well as testing it extensively on my development VM here.

I created a new DB server and loaded the "cpad 2017 version" of the database to it. After confirming that the upgraded database was indeed powering the application just fine, I chang

[2017-12-01 18:16] #656 closed, assigned to sethfitz, danrademacher, gregallensworth

[2017-12-01 18:20] sethfitz commented on #656
🎉

[2018-01-11 00:27] almccon commented on #47
This issue always comes up when I google for GLOP (but see also #85) so I figured I should at least include some images of the thing that we actually built (but which doesn't survive in the current version of the site).

Also, FYI, GLOP means "Graphical List Of Places".

Here's a "paragraph GLOP" (a non-overlapping list, with bounding boxes up against each other)
![screen shot 2013-11-12 at 6 49 5

[2018-01-30 19:23] danrademacher opened #664 "Pull instagram geolocation data from DB for area near Congressional District 39"
This is not directly connected to the website, but does require use of the backing data. Bill to the Caliparks maintenance job in QB

RLF wants us to make a map of connections between the 39th Congressional District and Instagram posts in public parks along the coast. @tsinn will make the final map (similar to a County>Coast thing we did for UCLA last year), but first we need to get some data.

Ul

[2018-01-30 19:58] gregallensworth commented on #664
The *coastal_photos* table has these fields:
[code]

The photo metadata does not seem to include much personal detail suich as home locations, just the poster's username and name:

[code]

I show **1,826,552** photos at present. It would not be overly difficult, to export the metadata in some format, then write a Python program to tease it apart and get at what we do have:
* photographer details:

[2018-01-30 20:03] gregallensworth commented on #664
Given the user-ID, in theory one could brute-force the Instagram API to get at user details.

### API output

https://www.instagram.com/developer/endpoints/users/#get_users

The API output seems not to include much personal info: their name, username, and profile picture which we already have in the photo metadata; URL of their website and their "bio" blurb.

### API limits

I wouldn't know yet ho

[2018-01-31 00:35] danrademacher commented on #664
Here's the word from Stamen -- simpler and more impressionistic, but fine for this use case:

So, if we're drawing the connection between Riverside county and a park in, say, Ventura, we just look for any username that shows up in both places. It's possible the user's "home" location is actually in Ventura and they just happened to visit Riverside once. Or it's possible their home is in Sacramento

[2018-01-31 23:15] gregallensworth commented on #664
To rephrase for myself, the desired end result is:
* coastal CPAD superunits
* tagged with a new integer attribute *howmanyinstagramusers*

This would be the count of distinct instagram userids, found among photos for that park superunit_id, *where that same instagram userid is seen at least once in a photo for a park within Congdist39*.

Also noted that this is likely to be replicated for other c

[2018-02-01 00:38] gregallensworth commented on #664
I did the calculations as expected, and have placed them onto GreenInfo's internal file storage for reference. Let's discuss!

[2018-04-06 16:45] #664 closed, assigned to gregallensworth

[2018-04-06 18:12] danrademacher opened #665 "Assess impact of IG API changes"
https://techcrunch.com/2018/04/02/instagram-api-limit/ details major changes to the IG API that came unannounced earlier this week and have clobbered the ability of CaliParks to load most IG photos.

Let's post findings here about the new limitations and their implications for the site. This is not yet a "fix it" task since we're not sure it can be fixed.

[2018-04-06 18:20] gregallensworth commented on #665
Item one: development of scrapers is no longer possible

https://www.instagram.com/developer/

![image](https://user-images.githubusercontent.com/3117633/38437322-ed64485c-398b-11e8-9ba3-4951679d7135.png)

* The existing APIs had apparently been slated for deprecation in July 2018 and December 2018, so the Instagram features may have ceased working. Certainly the reinstatement of scrapers would ha

[2018-04-06 18:30] danrademacher commented on #665
A previous version of the site featured Flickr photos as well (before we assumed control of the code and data). I wonder if those old Flickr photos are still present in the database and might represent an alternative source of images. As far as I know, Flickr's API remains usable for things like harvesting, though the platform is much less widely used than IG, so hard to know how much new content

[2018-04-06 18:46] gregallensworth commented on #665
**CDN URL changes**

It would appear that Instagram has either restricted usage of their CDN and/or changed the URLs of prior photos as well, as all photos are now giving an "Access denied" message.

* https://scontent.cdninstagram.com/t51.2885-15/e15/13261072_884209258358072_405867631_n.jpg
* https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13266889_541142722735632_1364162388_n.j

[2018-04-06 19:48] gregallensworth commented on #665
**Feasibility of reprogramming to show Flickr photos instead of Instagram**

**Summary**

* This table ultimately boils down to 4 specific SQL queries, all of which look as if they would transition over to *flickr_photos* with little trouble.
* These photos are properly related to CPAD 2017a parks.
* For the most part their URLs still appear to be valid, with failure rates about what one would exp

[2018-04-09 20:01] gregallensworth commented on #665
* Front page: Most Shared Parks image slideshow banner
  * reworked to use Flickr photos
  * filters to photos sized 1024x768 so aspect ratio is known
  * now uses pre-generated table for faster performance
* Park details page:
  * adjusted to load from Flickr
  * slider and selected photo, layouts and CSS adjusted to fit varying sized photos

[2018-04-09 20:45] gregallensworth commented on #665
* Most Shared Parks (front page slideshow) re-collected, to avoid selecting Death Valley National Park -- a lot of photos have been deleted, so the front-page slideshow *keeps* getting a No Such Photo photo selected
* Top Ten table re-collected based on Flickr data, so Explore now has updated counts -- e.g. Yosemite reports 14,580 photos instead of 156,660

[2018-04-11 22:59] danrademacher commented on #659
moot given #665

[2018-04-11 22:59] #659 closed, assigned to gregallensworth

[2018-04-11 23:00] danrademacher commented on #665
Flickr photos looking good. Will open separate issue for FAQ update

[2018-04-11 23:00] #665 closed, assigned to gregallensworth

[2018-04-11 23:09] danrademacher opened #666 "No parks for Basketball and Ballfields?"
I noticed that these two are empty:
https://www.caliparks.org/activity/ball_fields
https://www.caliparks.org/activity/basketball

I'm certain they were not always empty, but not sure when they broke.

1. I vaguely recall that we might have filtered out parks without Instagram photos. If so, then #665 flip to Flickr would be a cause and we should remove that filter altogether, and just show all par

[2018-04-12 14:46] gregallensworth commented on #666
I see others in this same vein: Playgrounds, Tennis, Covered Picnic Tables, ...

https://www.caliparks.org/activity/covered_picnic_tables
https://www.caliparks.org/activity/playground
https://www.caliparks.org/activity/tennis

I've traced back to the activities table, and see that some activities (Basketball, Ball Fields, the 3 others predicted above, etc.) were not coded consistently with other a

[2018-04-12 15:11] gregallensworth commented on #666
Confirmed this to be the case for only the following activity entries:
* Ball fields
* Basketball
* Covered picnic tables
* Playground
* Tennis

Confirmed that in all cases, the diff is **the first letter, and only the first letter** being uppercase. Confirmed that a string replacement could be inserted into `getParksForActivity()` to patch around this: when *tennis* or *basketball* is requested,

[2018-04-12 15:14] gregallensworth commented on #666
**aff8778 -- fix for the issue as noted**

Added a `switch` to rewrite the first letter as uppercase, and confirmed that this fixes the issue as noted.

![image](https://user-images.githubusercontent.com/3117633/38686535-5cf75118-3e29-11e8-948f-c43b0f0372af.png)

**2e1c6e1 -- getActivitiesList() now gives consistent capitalization**

I don't see that this query is exposed nor used anyplace at all,

[2018-04-12 15:30] gregallensworth commented on #666
**65c3f53 -- activity caps fix refactor**

Refactored the caps-fix into a function `correctActivityName()` and have this applied equally to both `listParksWithActivity()` and `getParksForActivity()`

[2018-04-12 15:44] gregallensworth commented on #666
Deployed live:
https://www.caliparks.org/activity/basketball
https://www.caliparks.org/activity/playground
https://www.caliparks.org/activity/ball_fields
https://www.caliparks.org/activity/covered_picnic_tables
https://www.caliparks.org/activity/tennis

[2018-04-12 21:06] danrademacher commented on #666
I _know_ these worked at one point, but yeesh who knows how long ago that was...

[2018-04-12 21:06] #666 closed, assigned to gregallensworth

[2018-04-19 17:54] #654 closed, assigned to gregallensworth

[2019-12-11 23:54] #607 closed, assigned to nobody

[2019-12-11 23:54] #608 closed, assigned to nobody

[2019-12-11 23:54] #612 closed, assigned to nobody

[2019-12-11 23:54] #614 closed, assigned to nobody

[2019-12-11 23:54] #618 closed, assigned to nobody

[2019-12-11 23:54] #621 closed, assigned to nobody

[2019-12-11 23:54] #622 closed, assigned to nobody

[2019-12-11 23:54] #624 closed, assigned to nobody

[2019-12-11 23:54] #625 closed, assigned to nobody

[2019-12-11 23:54] #626 closed, assigned to nobody

[2019-12-11 23:54] #627 closed, assigned to nobody

[2019-12-11 23:54] #628 closed, assigned to nobody

[2019-12-11 23:54] #629 closed, assigned to nobody

[2019-12-11 23:54] #630 closed, assigned to nobody

[2019-12-11 23:54] #631 closed, assigned to nobody

[2019-12-11 23:54] #633 closed, assigned to nobody

[2019-12-11 23:54] #634 closed, assigned to nobody

[2019-12-11 23:54] #637 closed, assigned to nobody

[2019-12-11 23:54] #638 closed, assigned to nobody

[2019-12-11 23:54] #642 closed, assigned to nobody

[2019-12-11 23:54] #643 closed, assigned to nobody

[2019-12-11 23:54] #644 closed, assigned to nobody

[2019-12-11 23:54] #650 closed, assigned to nobody

[2019-12-11 23:54] #651 closed, assigned to nobody

[2019-12-11 23:54] #653 closed, assigned to clhenrick

[2019-12-11 23:54] #425 closed, assigned to sethfitz

[2019-12-11 23:54] #460 closed, assigned to sethfitz

[2019-12-11 23:54] #461 closed, assigned to sethfitz

[2019-12-11 23:55] #471 closed, assigned to nobody

[2019-12-11 23:55] #493 closed, assigned to nobody

[2019-12-11 23:55] #506 closed, assigned to nobody

[2019-12-11 23:55] #547 closed, assigned to nobody

[2019-12-11 23:55] #574 closed, assigned to nobody

[2019-12-11 23:55] #579 closed, assigned to nobody

[2019-12-11 23:55] #597 closed, assigned to nicolettehayes

[2019-12-11 23:55] #605 closed, assigned to nobody

[2019-12-12 00:26] danrademacher opened #667 "Sunsetting CaliParks"
OK, Parks California, the new nonprofit for statewide parks advocacy to which ownership of this application was transferred in mid-2019, has determined based on their mission/focus and changes in tech and media landscape since 2014 that CaliParks.org should be wound down.

But they would like an export of "enriched" parks data that is usable in spreadsheet format. I think this is achievable and ha

[2019-12-13 18:45] gregallensworth commented on #667
The database dump was made using standard `pg_dump` and is plain SQL format for maximum compatibility.

[code]

The CSV export was made using a custom Python program. This program is present in the same P folder. I also loaded the content into https://docs.google.com/spreadsheets/d/1GyL1lm0xSAHqJx-4OoLuhwACTF4wG3SGdgmKx1JUGaU/edit?folder=1-zK9ldHrPyUjCee9DgrsErFpT8JWnYkG#gid=0

The counties shapef

[2019-12-14 00:02] danrademacher commented on #667
Suspended that email account so it's no longer active. And pinged Outerspatial about the API key.

[2019-12-14 00:02] #667 closed, assigned to danrademacher, gregallensworth